<div class="flex items-center justify-between px-6 py-4 border-b border-b-[#F2F4F7] dark:border-b-[#36455899] dark:bg-[#1C2736]">
  <div class="text-[20px] font-semibold text-[#101828] dark:text-white">{{ 'objective'| translate }}</div>
  <div class="flex items-center gap-1">
    <button
      class="w-10 h-10 grid place-items-center rounded-full hover:bg-[#F2F4F7] dark:hover:bg-[#4D5669] cursor-pointer text-[#667085]"
      mat-ripple
      #actionsPanel
      (click)="overlayPanel.openPanel()"
    >
      <mat-icon class="icon-size-16 dark:text-[#A2A8B2]" [svgIcon]="'icon:three-dots'"/>
    </button>

    <button
      class="w-10 h-10 grid place-items-center rounded-full hover:bg-[#F2F4F7] dark:hover:bg-[#4D5669] cursor-pointer text-[#667085]"
      mat-ripple
      mat-dialog-close
    >
      <mat-icon class="icon-size-14 dark:text-[#A2A8B2]" [svgIcon]="'icon:x'"/>
    </button>
  </div>
</div>

<mat-dialog-content class="p-0 dark:bg-[#1C2736]">
  <quill-editor
    class="w-full mb-6 objective-title"
    [classes]="'min-h-[24px] w-full focus:outline-none text-[20px] font-semibold text-[#101828] dark:text-white'"
    [(ngModel)]="objective.name.name_lat"
    [modules]="{ toolbar: false }"
    [format]="'text'"
    [theme]="'bubble'"
    [placeholder]="'enter.target.name'| translate"
    [disabled]="objective?.parent_objective_id"
  ></quill-editor>

  <div class="border border-[#F2F4F7] dark:border-[#36455899] rounded-[8px] mb-6 relative">
    <div class="px-4 py-2.5 text-[#101828] dark:text-[#e4e7ec] text-[14px] font-semibold border-b border-b-[#F2F4F7] dark:border-b-[#36455899]">
      {{ 'details'| translate }}
    </div>

    <div class="grid grid-cols-4 gap-3 px-4 pt-[16px]">
      <div class="col-span-4">
        <div class="text-[12px] text-[#98A2B3] dark:text-[#e4e7ec] font-medium mb-1">{{ 'the.main.goal'| translate }}</div>
        <mat-select
          class="solid-select root-objectives-select"
          [(ngModel)]="objective.root_objective_id"
          [placeholder]="'the.main.goal'| translate"
          [disabled]="data"
        >
          @for (rootObj of rootObjectives; track rootObj) {
            <mat-option [value]="rootObj.id">{{ rootObj.title| translate }}</mat-option>
          }
        </mat-select>
      </div>

      <div>
        <div class="text-[12px] text-[#98A2B3] dark:text-[#e4e7ec] font-medium mb-1">{{ 'due.date'| translate }}</div>
        <div
          class="w-full inline-flex items-center gap-2 h-10 px-3 bg-[#F2F4F7] dark:bg-[#4D5669] rounded-[8px] text-[#101828] dark:text-white text-[12px] font-medium cursor-pointer"
          mat-ripple
          (click)="!objective?.parent_objective_id ? dueDatePicker.open() : null"
        >
          <mat-icon class="icon-size-18" [svgIcon]="'icon:calendar'"/>
          <span class="line-clamp-1">{{ objective.due_date| date }}</span>

        </div>
        <input class="w-full h-0" [(ngModel)]="objective.due_date" [matDatepicker]="dueDatePicker">
        <mat-datepicker #dueDatePicker></mat-datepicker>
      </div>

      <div class="col-span-3">
        <div class="text-[12px] text-[#98A2B3] dark:text-[#e4e7ec] font-medium mb-1">{{ 'measurement'| translate }}</div>
        <div
          class="w-full flex h-10 px-3 py-0.5 bg-[#F2F4F7] dark:bg-[#4D5669] rounded-[8px] text-[#101828] text-[12px] font-medium cursor-pointer"
        >
          <input
            class="flex-grow focus:outline-0 dark:text-white bg-transparent appearance-none [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
            type="text"
            [mask]="'separator'"
            [thousandSeparator]="' '"
            [(ngModel)]="objective.unit_value"
            [placeholder]="'value'| translate"
            [disabled]="objective?.parent_objective_id"
          >

          <div class="w-[1px] h-4/5 bg-[#98A2B3] self-center"></div>

          <mat-select
            class="flex-grow"
            [(ngModel)]="objective.unit_type"
            [placeholder]="'unity'| translate"
            [disabled]="objective?.parent_objective_id"
          >
            @for (key of units; track key) {
              <mat-option [value]="key">{{ key }}</mat-option>
            }
          </mat-select>
        </div>
      </div>

      @if (showMembersSelect) {
        <div class="fixed top-0 left-0 right-0 bottom-0 bg-transparent z-10" (click)="showMembersSelect = false"></div>
        <div
          class="absolute z-[11] left-[-1px] top-0 right-[-1px] border border-[#F2F4F7] rounded-[8px] shadow bg-white"
        >
          <div class="p-3">
            <div class="text-[#98A2B3] text-xs font-medium uppercase mb-2">{{ 'performers'| translate }}</div>
            <div class="flex items-center flex-wrap gap-y-2 gap-x-5">
              @for (member of objective.recipients; track member) {
                <div class="flex items-center gap-3">
                  <div class="w-8 h-8 rounded-full relative overflow-hidden shrink-0">
                    <img class="object-cover" [ngSrc]="'assets/img/anonym.png'" [fill]="true" [alt]="">
                  </div>

                  <span class="text-[#101828] font-medium text-[14px]">{{ member?.short_name }}</span>

                  <mat-icon
                    (click)="remove(member)"
                    class="text-[#667085] icon-size-14 cursor-pointer"
                    [svgIcon]="'icon:x'"/>
                </div>
              }
              <input
                [(ngModel)]="memberSearchText"
                class="min-w-48 h-8 border-none text-[#101828] grow focus:outline-0 text-[14px]"
                [placeholder]="'search'| translate"
                type="text"
              >
            </div>
          </div>

          @if (members?.length) {
            <div
              class="py-2 border-t border-t-[#F2F4F7] max-h-[200px] scrollbar-thin scrollbar-thumb-gray-100 scrollbar-track-white overflow-auto">
              @for (member of members| search: [ 'last_name', 'first_name', 'short_name' ]: memberSearchText; track member) {
                <div class="flex items-center gap-3 px-3 py-2 hover:bg-[#F2F4F7] cursor-pointer" mat-ripple
                     (click)="add(member)">
                  <div class="w-8 h-8 rounded-full relative overflow-hidden shrink-0">
                    <img class="object-cover" [ngSrc]="'assets/img/anonym.png'" [fill]="true" [alt]="">
                  </div>

                  <span
                    class="text-[#101828] font-medium text-[14px]">{{ member?.last_name| titlecase }} {{ member?.first_name| titlecase }}</span>
                </div>
              }
            </div>
          }
        </div>
      }
    </div>
  </div>

  <div class="mb-6">
    <div class="mb-2 text-[#101828] dark:text-[#e4e7ec] font-medium">{{ 'description'| translate }}</div>

    <quill-editor
      class="w-full"
      [classes]="'text-[#667085] dark:text-white focus:outline-0 min-h-20 rounded-[8px] px-[15px] py-2.5 border border-[#F2F4F7] dark:border-[#36455899] text-[13px]'"
      [(ngModel)]="objective.description"
      [modules]="{ toolbar: false }"
      [format]="'text'"
      [theme]="'bubble'"
      [placeholder]="'enter.a.description...'| translate"
      [disabled]="objective?.parent_objective_id"
    ></quill-editor>
  </div>

  @if (keysList?.length) {
    <table class="w-full mb-5">
      <thead>
      <tr>
        <th class="w-2/5 p-0">
          <div class="flex items-center gap-1.5 bg-[#F2F4F7] dark:bg-[#4D5669] dark:text-white p-3 rounded-tl-[12px] rounded-bl-[12px]">
            <mat-icon class="text-[#667085] dark:text-[#e4e7ec]" [svgIcon]="'icon:objective'"/>
            <span class="text-[13px] font-normal">{{ 'key.results'| translate }}</span>
          </div>
        </th>

        <th class="w-1/3 p-0">
          <div class="flex items-center gap-1.5 bg-[#F2F4F7] dark:bg-[#4D5669] dark:text-white p-3">
            <mat-icon class="text-[#667085] dark:text-[#e4e7ec]" [svgIcon]="'icon:pie'"/>
            <span class="text-[13px] font-normal">{{ 'done.value'| translate }}</span>
          </div>
        </th>

        <th class="p-0">
          <div class="flex items-center gap-1.5 bg-[#F2F4F7] dark:bg-[#4D5669] dark:text-white p-3 rounded-tr-[12px] rounded-br-[12px]">
            <mat-icon class="text-[#667085] dark:text-[#e4e7ec]" [svgIcon]="'icon:double-check'"/>
            <span class="text-[13px] font-normal">{{ 'status'| translate }}</span>
          </div>
        </th>
      </tr>
      </thead>

      <tbody class="text-[13px]">
        @for (key of keysList; track key) {
          <tr class="border-b border-b-[#F2F4F7] dark:border-b-[#36455899] dark:text-white">
            <td class="px-3 py-2" [title]="key?.name?.name_lat">
              <div class="line-clamp-1">{{ key?.name?.name_lat }}</div>
            </td>
            <td class="px-3 py-2 dark">{{ key?.unit_done_value || 0 }} {{ key?.unit_type }}</td>
            <td class="px-3 py-2">
              @if (!key?.is_done && key?.has_comment) {
                <button (click)="markAsDone(key)" mat-ripple
                        class="inline-flex items-center gap-2 rounded-[8px] bg-[#FEF3F2] px-3 py-1 text-[#F97066]">
                  <mat-icon class="icon-size-14" svgIcon="icon:check"></mat-icon>
                  <span>{{ 'confirm'| translate }}</span>
                </button>
              }

              @if (key?.is_done) {
                <span class="text-[#32D583]">{{ 'done'| translate }}</span>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  }

  @if (data?.parent_key_id) {
    <div class="flex items-center justify-between mb-3">
      <div class="text-[#101828] dark:text-white font-medium">{{ 'comments'| translate }}</div>
    </div>

    <div class="mb-6">
      <div class="flex gap-3">
        <div class="grid place-items-center w-8 h-8 rounded-full relative overflow-hidden">
          <img class="object-cover select-none" [ngSrc]="'assets/img/anonym.png'" [fill]="true" [alt]="">
        </div>

        <quill-editor
          class="grow"
          [classes]="'text-[#667085] dark:text-white focus:outline-0 min-h-[34px] text-[14px] rounded-[8px] px-[15px] py-2.5 border border-[#F2F4F7] dark:border-[#36455899]'"
          [(ngModel)]="comment.comment"
          [modules]="{ toolbar: false }"
          [format]="'text'"
          [theme]="'bubble'"
          [placeholder]="'enter.your.comment...'| translate"
        ></quill-editor>

        <div class="flex gap-1">
          <label
            class="w-[42.5px] h-[42.5px] grid place-items-center rounded-[8px] border border-[#F2F4F7] dark:border-[#36455899] hover:bg-[#F2F4F7] dark:hover:bg-[#4D5669] text-[#667085] dark:text-[#A2A8B2] cursor-pointer"
            mat-ripple
          >
            <mat-icon class="icon-size-18" [svgIcon]="'icon:paper-clip'"/>

            <input
              class="hidden"
              type="file"
              multiple
              (change)="chooseFile(attachFile.files)"
              #attachFile>
          </label>
          <div
            class="w-[42.5px] h-[42.5px] grid place-items-center rounded-[8px] border border-[#F2F4F7] dark:border-[#36455899] hover:bg-[#F2F4F7] dark:hover:bg-[#4D5669] text-[#667085] dark:text-[#A2A8B2] cursor-pointer"
            (click)="addCommentToObjective()"
            mat-ripple
          >
            <mat-icon class="icon-size-16" [svgIcon]="'icon:paper-plane'"/>
          </div>
        </div>
      </div>

      @if (comment?.files?.length) {
        <div class="grid grid-cols-2 gap-3 pt-3 pl-[44px]">
          @for (file of comment.files; track file) {
            <file-component
              [file]="file"
              [removable]="true"
              (onFileRemoved)="removeFile($event)"
            />
          }
        </div>
      }
    </div>

    @for (comment of commentList; track comment) {
      <div class="flex gap-3 mb-2">
        <div class="grid place-items-center w-8 h-8 rounded-full relative overflow-hidden">
          <img class="object-cover select-none" [ngSrc]="'assets/img/anonym.png'" [fill]="true" [alt]="">
        </div>
        <div class="grow">
          <div class="flex items-center gap-4">
            <div
              class="text-[#101828] dark:text-white font-medium text-[14px]">{{ comment?.created_by?.last_name| titlecase }} {{ comment?.created_by?.first_name| titlecase }}
            </div>

            <div class="flex items-center gap-1.5 text-[#94A3B8] text-[13px]">
              <mat-icon class="icon-size-16" [svgIcon]="'icon:clock'"/>
              <span>{{ comment.created_at| date: 'dd.MM.YYYY HH:mm' }}</span>
            </div>

            @if (currentUser.id === comment?.created_by?.id) {
              <button
                class="w-10 h-10 grid place-items-center rounded-full hover:bg-[#F2F4F7] dark:hover:bg-[#4D5669] cursor-pointer text-[#667085] dark:text-[#A2A8B2] ml-auto"
                mat-ripple
                #commentOptionsPanelBtn
                (click)="commentOptionsPanel.openPanel()"
              >
                <mat-icon class="icon-size-16" [svgIcon]="'icon:three-dots'"/>
              </button>

              <overlay-panel
                [originElement]="commentOptionsPanelBtn" #commentOptionsPanel>
                <div
                  class="py-1 rounded-[8px] shadow-lg bg-white border-[#F2F4F7] dark:bg-[#4D5669] dark:border-none"
                  overlay-content>
                  <div
                    (click)="deleteComment(comment.id)"
                    class="flex items-center gap-2 py-2 px-4 text-[#101828] dark:text-white hover:bg-[#F2F4F7] dark:hover:bg-[#1C2736] cursor-pointer font-medium"
                    mat-ripple
                  >
                    <mat-icon class="icon-size-20" [svgIcon]="'icon:trash'"/>
                    <span>{{ 'delete'| translate }}</span>
                  </div>
                </div>
              </overlay-panel>
            }
          </div>
          <div class="text-[#667085] dark:text-white text-[14px]">{{ comment?.content }}</div>
          <div class="grid grid-cols-2 gap-3">
            @for (file of comment?.files; track file) {
              <file-component [file]="file"/>
            }
          </div>
        </div>
      </div>
    }
  }
</mat-dialog-content>

<div class="flex items-end justify-between px-6 py-4 dark:bg-[#1C2736]">
  <div class="text-xs text-[#667085] dark:text-[#A2A8B2]">
    @if (data && !objective?.sent_by) {
      {{ 'created.by'| translate: { creator: objective?.created_by_json?.short_name } }}
      - {{ objective?.created_at| date: 'dd.MM.YYYY HH:mm' }}
    }

    @if (data && objective?.sent_by_json) {
      {{ 'sent.by'| translate: { sender: objective?.sent_by_json?.short_name } }}
      - {{ objective?.created_at| date: 'dd.MM.YYYY HH:mm' }}
    }
  </div>

  @if (!objective?.parent_objective_id) {
    <button
      (click)="!this.data ? createObjective(): updateObjective()"
      class="h-[42px] rounded-[8px] text-white font-medium px-5 bg-[#9E77ED]"
      mat-ripple
      [disabled]="loading"
    >
      @if (loading) {
        <mat-spinner [diameter]="24"/>
      } @else {
        {{ 'save'| translate }}
      }
    </button>
  }
</div>

<overlay-panel
  [originElement]="actionsPanel" #overlayPanel>
  <div
    class="py-1 rounded-[8px] shadow-lg bg-white border-[#F2F4F7] dark:bg-[#4D5669] dark:border-none"
    overlay-content>
    @if (!objective?.parent_objective_id && currentUser?.id === objective?.created_by) {
      <div
        (click)="deleteObjective(overlayPanel._overlayRef)"
        class="flex items-center gap-2 py-2 px-4 text-[#101828] dark:text-white hover:bg-[#F2F4F7] dark:hover:bg-[#1C2736] cursor-pointer font-medium"
        mat-ripple
      >
        <mat-icon class="icon-size-20" [svgIcon]="'icon:trash'"/>
        <span>{{ 'delete'| translate }}</span>
      </div>
    }
  </div>
</overlay-panel>
