<div class="p-6 h-full grid grid-cols-4 place-content-start gap-6 overflow-auto dark:bg-[#101828]">
  <div class="flex items-center justify-center px-4 pt-4 pb-2 rounded-[12px] col-span-4 bg-[#F8F0FB] dark:bg-[#1C2736]">
    <img [ngSrc]="'assets/img/dashboard/objective.svg'" [width]="50" [height]="50" alt="">
    <div class="font-medium text-[#101828] dark:text-white text-[16px] pb-1.5">{{ 'dashboard.title'| translate }}</div>
  </div>

  @for (stat of statistics; track stat) {
    <div
      [routerLink]="['/my-tasks/objectives']"
      [queryParams]="{
        rootObjectiveId: stat?.id
      }"
      class="rounded-[12px] {{ stat.bgColor }} dark:bg-[#1C2736] p-6 hover:shadow cursor-pointer duration-100"
      mat-ripple>
      <div class="flex items-center justify-between">
        <img [ngSrc]="stat.icon" [width]="70" [height]="70" alt="">

        <div
          class="w-[52px] h-[52px] p-2 rounded-full group relative"
          style="background: conic-gradient({{ stat?.donut }} 0% {{ stat?.percent }}%, #D0D5DD 0)"
        >
          <div
            class="w-full h-full rounded-full {{ stat.bgColor }} dark:bg-[#1C2736] text-[#101828] text-[10px] dark:text-white grid place-content-center">
            {{ stat?.percent| number: '1.0-2' }}%
          </div>

          <div
            class="absolute hidden group-hover:flex flex-col gap-1 right-[105%] bottom-0 shadow-lg rounded-[12px] {{ stat.bgColor }} border {{ stat.borderColor }} p-4">
            <div class="flex items-center gap-2">
              <div class="{{ stat.textColor }} truncate">{{ 'done'| translate }}:</div>
              <div class="text-[#101828] text-[15px] font-medium">{{ stat?.count_done| number }}</div>
            </div>
            <div class="flex items-center gap-2">
              <div class="{{ stat.textColor }} truncate">{{ 'total.objectives'| translate }}:</div>
              <div class="text-[#101828] text-[15px] font-medium">{{ stat?.count_all| number }}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="line-clamp-2 text-[#101828] dark:text-white font-medium h-[45px]">
        {{ stat.title | translate }}
      </div>

      <div class="border-t {{ stat.borderTopColor }} dark:border-t-[#E4E7EC] pt-3">
        <div class="flex items-center gap-2 mb-2">
          <div class="{{ stat.textColor }} dark:text-[#E4E7EC]">{{ 'done'| translate }}:</div>
          <div class="text-[#101828] dark:text-white text-[15px] font-medium">{{ stat.percentage| number: '1.0-2' }}%
          </div>
        </div>

        <div class="h-2.5 rounded-full bg-white overflow-hidden">
          <div
            [ngStyle]="{
              width: stat.percentage + '%'
            }"
            class="h-full rounded-full {{ stat.bgPercent }}"
          ></div>
        </div>
      </div>
    </div>
  }

  @for (data of chartData; track data) {
    <div class="col-span-2 rounded-[12px] bg-white dark:bg-[#1C2736] p-6 relative overflow-hidden">
      <chart
        [data]="data"
      />

      <ng-container
        *ngTemplateOutlet="updateDataButton"
      />
    </div>
  }
</div>

<ng-template #updateDataButton>
  <button
    *hasPermissions="['admin']"
    class="absolute top-3 right-3 h-[42.5px] px-3 flex items-center gap-3 rounded-[8px] border border-[#F2F4F7] dark:border-[#36455899] hover:bg-[#F2F4F7] dark:hover:bg-[#4D5669] text-[#667085] dark:text-[#A2A8B2] cursor-pointer"
    mat-ripple
    (click)="openStatisticsEditor()"
  >
    <mat-icon class="icon-size-18" [svgIcon]="'icon:pencil'"/>
    <span>{{ 'update.data'| translate }}</span>
  </button>
</ng-template>
