<div class="fixed inset-0 flex flex-col gap-5 p-6 bg-white">
  <div class="flex items-center justify-between">
    <div class="text-xl font-medium text-gray-700">Yangi banner qo'shish</div>

    <button mat-icon-button mat-dialog-close class="bg-gray-50">
      <mat-icon svgIcon="heroicons_outline:x-mark"></mat-icon>
    </button>
  </div>

  <div class="grow relative">
    <form class="absolute inset-0 overflow-auto flex flex-col gap-2" [formGroup]="bannerForm"
          (ngSubmit)="createBanner()">
      <fieldset class="border px-3 pb-1 pt-2 rounded-lg bg-slate-50">
        <legend class="text-gray-900 font-medium text-[16px]">Banner sarlavhasi</legend>

        <div class="grid grid-cols-3 gap-5">
          <mat-form-field class="fuse-mat-dense" floatLabel="always">
            <mat-label>O'zbekcha</mat-label>
            <input formControlName="titleUz" matInput type="text" placeholder="O'zbekcha sarlavha">
            <mat-error>Majburiy maydon</mat-error>
          </mat-form-field>
          <mat-form-field class="fuse-mat-dense" floatLabel="always">
            <mat-label>Ruscha</mat-label>
            <input formControlName="titleRu" matInput type="text" placeholder="Ruscha sarlavha">
            <mat-error>Majburiy maydon</mat-error>
          </mat-form-field>
          <mat-form-field class="fuse-mat-dense" floatLabel="always">
            <mat-label>Inglizcha</mat-label>
            <input formControlName="titleEn" matInput type="text" placeholder="Inglizcha sarlavha">
            <mat-error>Majburiy maydon</mat-error>
          </mat-form-field>
        </div>
      </fieldset>

      <fieldset class="border px-3 pb-1 pt-2 rounded-lg bg-slate-50">
        <legend class="text-gray-900 font-medium text-[16px]">Banner matni</legend>

        <div class="grid grid-cols-3 gap-5">
          <mat-form-field class="fuse-mat-dense" floatLabel="always">
            <mat-label>O'zbekcha</mat-label>
            <textarea formControlName="textUz" matInput type="text" placeholder="O'zbekcha matn"></textarea>
            <mat-error>Majburiy maydon</mat-error>
          </mat-form-field>
          <mat-form-field class="fuse-mat-dense" floatLabel="always">
            <mat-label>Ruscha</mat-label>
            <textarea formControlName="textRu" matInput type="text" placeholder="Ruscha matn"></textarea>
            <mat-error>Majburiy maydon</mat-error>
          </mat-form-field>
          <mat-form-field class="fuse-mat-dense" floatLabel="always">
            <mat-label>Inglizcha</mat-label>
            <textarea formControlName="textEn" matInput type="text" placeholder="Inglizcha matn"></textarea>
            <mat-error>Majburiy maydon</mat-error>
          </mat-form-field>
        </div>
      </fieldset>

      <fieldset class="border px-3 py-2 rounded-lg bg-slate-50">
        <legend class="text-gray-900 font-medium text-[16px]">Banner rasmlari (840 x 395 o'lchamli bitta va 510 x 395
          o'lchamli bitta rasm yuklang)
        </legend>
        <file-upload
          (onFilesUpload)="onFilesUpload($event)"
        />
        <file-list
          classes="grid grid-cols-10 gap-3 mt-3"
          [files]="bannerForm.get('images').value"
          (filesChange)="bannerForm.get('images').setValue($event)"
          [viewType]="'grid'"
        />
      </fieldset>

      <fieldset class="border px-3 pb-1 pt-2 rounded-lg bg-slate-50">
        <legend class="text-gray-900 font-medium text-[16px]">Banner turi</legend>

        <mat-radio-group class="flex gap-10" formControlName="type" (change)="onBannerTypeChange()">
          <mat-radio-button value="filter">Kategoriya va brand (bunda bannerdagi tugmani bosilganda tanlangan kategoriya
            va brendlar bo'yicha tovarlar filterlab ko'rsatiladi)
          </mat-radio-button>
          <mat-radio-button value="product">Tovar (bannerdagi tugma bosilsa aynan bitta tovar sahifasi ochiladi)
          </mat-radio-button>
        </mat-radio-group>
      </fieldset>

      <fieldset
        [hidden]="bannerForm.get('type').value === 'product'"
        class="border px-3 pb-1 pt-2 rounded-lg bg-slate-50">
        <legend class="text-gray-900 font-medium text-[16px]">Kategoriya va brend</legend>

        <div class="grid grid-cols-4 gap-5">
          <searchable-multiselect
            label="Asosiy kategoriya"
            optionTextKey="nameUz"
            optionValueKey="_id"
            selectBoxPlaceholder="Kategoriyani tanlang"
            classes="fuse-mat-dense fuse-mat-no-header w-full"
            [emptyOption]="true"
            [options]="categories.main"
            [multiple]="false"
            [defaultValue]="bannerForm.get('mainCategoryId').value"
            (selectionChangeEvent)="selectCategory('main', $event)"
            [disabled]="bannerForm.disabled"
          />

          <searchable-multiselect
            label="Ichki kategoriya"
            optionTextKey="nameUz"
            optionValueKey="_id"
            selectBoxPlaceholder="Kategoriyani tanlang"
            classes="fuse-mat-dense w-full"
            [hidden]="!categories.middle.length"
            [emptyOption]="true"
            [options]="categories.middle"
            [multiple]="false"
            [defaultValue]="bannerForm.get('middleCategoryId').value"
            (selectionChangeEvent)="selectCategory('middle', $event)"
            [disabled]="bannerForm.disabled"
          />

          <searchable-multiselect
            label="Kategoriya"
            optionTextKey="nameUz"
            optionValueKey="_id"
            selectBoxPlaceholder="Kategoriyani tanlang"
            classes="fuse-mat-dense w-full"
            [hidden]="!categories.sub.length"
            [emptyOption]="true"
            [options]="categories.sub"
            [multiple]="false"
            [defaultValue]="bannerForm.get('subCategoryId').value"
            (selectionChangeEvent)="selectCategory('sub', $event)"
            [disabled]="bannerForm.disabled"
          />

          <searchable-multiselect
            label="Brend"
            optionTextKey="nameUz"
            optionValueKey="_id"
            selectBoxPlaceholder="Brendni tanlang"
            classes="fuse-mat-dense w-full"
            [options]="brands"
            [multiple]="true"
            [defaultValue]="bannerForm.get('brandIds').value"
            (selectionChangeEvent)="bannerForm.get('brandIds').setValue($event)"
          />
        </div>
      </fieldset>

      <fieldset
        [hidden]="bannerForm.get('type').value === 'filter'"
        class="border px-3 pb-1 pt-2 rounded-lg bg-slate-50">
        <legend class="text-gray-900 font-medium text-[16px]">Tovar</legend>

        <div class="grid grid-cols-2 gap-5">
          <mat-form-field class="fuse-mat-dense" floatLabel="always">
            <input
              type="text"
              placeholder="Tovarni qidirish (SKU yoki nomi bo'yicha)"
              matInput
              #productSearchInput
              (keydown.enter)="searchProduct()"
              [matAutocomplete]="auto"
            >
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="onProductSelected($event)"
              [displayWith]="displayFn"
            >
              @for (product of products; track product._id) {
                <mat-option [value]="product">{{ product?.nameUz }}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </fieldset>
    </form>
  </div>


  <div class="col-span-3 flex justify-end gap-4">
    <button mat-stroked-button mat-dialog-close color="warn">
      <mat-icon svgIcon="heroicons_outline:x-circle"/>
      <span class="ml-2">Bekor qilish</span>
    </button>
    <button (click)="createBanner()" mat-flat-button color="primary"
            [disabled]="bannerForm.invalid || bannerForm.disabled">
      <mat-icon svgIcon="heroicons_solid:check-circle"/>
      <span class="ml-2">Saqlash</span>
    </button>
  </div>
</div>
