<div
  class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent absolute inset-0 overflow-auto border"
>
  <table class="w-full">
    <thead
      class="bg-gray-50 text-secondary sticky top-0 z-10 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5">
    <tr>
      <th class="py-4 border w-14">
        №
      </th>
      <th class="px-6 py-4 border">
        O'zbekcha
      </th>
      <th class="px-6 py-4 border">
        Ruscha
      </th>
      <th class="px-6 py-4 border">
        Inglizcha
      </th>
      <th class="px-6 py-4 border w-44">
        Rangi
      </th>
      <th class="px-6 py-4 border w-30">
      </th>
    </tr>
    </thead>
    <tbody>
    <tr class="hover:bg-slate-50 cursor-pointer" [formGroup]="createForm" (ngSubmit)="createOrderStatus()">
      <td class="border p-3 text-center">
        #
      </td>
      <td class="border p-3">
        <mat-form-field class="fuse-mat-dense fuse-mat-rounded fuse-mat-no-subscript w-full" floatLabel="always">
          <input (keydown.enter)="createOrderStatus()" matInput type="text" placeholder="O'zbekcha" formControlName="nameUz">
        </mat-form-field>
      </td>
      <td class="border p-3">
        <mat-form-field class="fuse-mat-dense fuse-mat-rounded fuse-mat-no-subscript w-full" floatLabel="always">
          <input (keydown.enter)="createOrderStatus()" matInput type="text" placeholder="Ruscha" formControlName="nameRu">
        </mat-form-field>
      </td>
      <td class="border p-3">
        <mat-form-field class="fuse-mat-dense fuse-mat-rounded fuse-mat-no-subscript w-full" floatLabel="always">
          <input (keydown.enter)="createOrderStatus()" matInput type="text" placeholder="Inglizcha" formControlName="nameEn">
        </mat-form-field>
      </td>
      <td class="border p-3">
        <mat-form-field class="fuse-mat-dense fuse-mat-rounded fuse-mat-no-subscript w-full" floatLabel="always">
          <input (keydown.enter)="createOrderStatus()" matInput type="color" formControlName="color">
        </mat-form-field>
      </td>
      <td class="border p-3">
        <button
          class="bg-primary-50"
          mat-icon-button
          (click)="createOrderStatus()"
        >
          <mat-icon class="text-primary icon-size-5" svgIcon="heroicons_outline:plus-circle"></mat-icon>
        </button>
      </td>
    </tr>

      @for (status of statuses(); track status._id; let i = $index) {
        <tr class="hover:bg-slate-50 cursor-pointer">
          <td class="border p-3 text-center">
            {{ i + 1 }}
          </td>
          <td class="border p-3">
            <mat-form-field class="fuse-mat-dense fuse-mat-rounded fuse-mat-no-subscript w-full" floatLabel="always">
              <input
                matInput
                type="text"
                placeholder="O'zbekcha"
                [(ngModel)]="status.nameUz"
                (keydown.enter)="updateOrderStatus(status)"
                [disabled]="status.static"
              >
            </mat-form-field>
          </td>
          <td class="border p-3">
            <mat-form-field class="fuse-mat-dense fuse-mat-rounded fuse-mat-no-subscript w-full" floatLabel="always">
              <input
                matInput type="text"
                placeholder="Ruscha"
                [(ngModel)]="status.nameRu"
                (keydown.enter)="updateOrderStatus(status)"
                [disabled]="status.static"
              >
            </mat-form-field>
          </td>
          <td class="border p-3">
            <mat-form-field class="fuse-mat-dense fuse-mat-rounded fuse-mat-no-subscript w-full" floatLabel="always">
              <input
                matInput
                type="text"
                placeholder="Inglizcha"
                [(ngModel)]="status.nameEn"
                (keydown.enter)="updateOrderStatus(status)"
                [disabled]="status.static"
              >
            </mat-form-field>
          </td>
          <td class="border p-3">
            <mat-form-field class="fuse-mat-dense fuse-mat-rounded fuse-mat-no-subscript w-full" floatLabel="always">
              <input
                (change)="updateOrderStatus(status)"
                matInput
                type="color"
                [(ngModel)]="status.color"
                [disabled]="status.static"
              >
            </mat-form-field>
          </td>
          <td class="border p-3">
            <button
              mat-icon-button
              color="primary"
              class="bg-primary-50"
              (click)="updateOrderStatus(status)"
              [disabled]="status.static"
            >
              <mat-icon class="icon-size-4" svgIcon="heroicons_outline:check"></mat-icon>
            </button>

            <button
              class="bg-red-50 ml-2"
              mat-icon-button
              color="warn"
              (click)="deleteStatus(status._id)"
              [disabled]="status.static"
            >
              <mat-icon class="icon-size-4.5" svgIcon="heroicons_outline:trash"></mat-icon>
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
