<div class="mb-3 text-[16px] text-[#101828] dark:text-white">{{ data.title | translate }}</div>

<div id="chart">
  @if (chartOptions) {
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions"
      [stroke]="chartOptions.stroke"
      [xaxis]="chartOptions.xaxis"
      [yaxis]="chartOptions.yaxis"
      [grid]="chartOptions.grid"
      [fill]="chartOptions.fill"
      [markers]="chartOptions.markers"
      [tooltip]="chartOptions.tooltip"
      [legend]="chartOptions.legend"
    ></apx-chart>
  }
</div>

