<main
  class="w-full h-screen flex flex-col items-center justify-center bg-gray-50 sm:px-4"
>
  <div class="w-full space-y-6 text-gray-600 sm:max-w-md">
    <div class="bg-white shadow p-4 py-6 sm:p-6 sm:rounded-lg">
      <form class="space-y-5">
        <div>
          <label class="font-medium" for="login">Логин</label>
          <input
            id="login"
            type="email"
            required
            class="w-full mt-2 px-3 py-2 text-gray-500 bg-transparent outline-none border focus:border-[#3366cc] shadow-sm rounded-lg"
          />
        </div>
        <div>
          <label class="font-medium" for="password">Пароль</label>
          <input
            id="password"
            type="password"
            required
            class="w-full mt-2 px-3 py-2 text-gray-500 bg-transparent outline-none border focus:border-[#3366cc] shadow-sm rounded-lg"
          />
        </div>
        <button
          class="w-full px-4 py-2 text-white font-medium bg-[#3366cc] rounded-lg duration-150"
        >
          Войти
        </button>
      </form>
      <div class="mt-5">
        <button
          class="w-full flex items-center justify-center gap-x-3 py-2.5 mt-5 border rounded-lg text-sm font-medium hover:bg-gray-50 duration-150 active:bg-gray-100"
        >
          <!-- Comment: Google Icon SVG here -->
          <img
            src="https://raw.githubusercontent.com/sidiDev/remote-assets/7cd06bf1d8859c578c2efbfda2c68bd6bedc66d8/google-icon.svg"
            alt="Google"
            class="w-5 h-5"
          />
          Продолжить с Google
        </button>
      </div>
    </div>
  </div>
</main>
