<div
  class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden"
>
  <div
    class="flex flex-col px-6 py-8 gap-4"
  >
    <div class="flex items-center justify-between">
      <div class="text-4xl font-extrabold tracking-tight">Brandlar ro'yxati</div>

      <mat-form-field
        class="fuse-mat-dense fuse-mat-rounded min-w-80"
        [subscriptSizing]="'dynamic'"
      >
        <mat-icon
          class="icon-size-5"
          matPrefix
          [svgIcon]="'heroicons_solid:magnifying-glass'"
        ></mat-icon>
        <input
          matInput
          [placeholder]="'Brandni qidirish'"
          [(ngModel)]="params.search"
          (keydown.enter)="searchBrand()"
        />
      </mat-form-field>
    </div>
  </div>

  <div class="flex flex-auto overflow-hidden">
    <!-- Products list -->
    <div
      class="flex flex-auto flex-col overflow-hidden sm:mb-18 sm:overflow-y-auto">
      <table class="w-full">
        <thead
          class="bg-gray-50 text-secondary sticky top-0 z-10 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5">
        <tr class="bg-gray-100">
          <th class="px-6 py-4 border">
            O'zbekcha
          </th>
          <th class="px-6 py-4 border">
            Ruscha
          </th>
          <th class="px-6 py-4 border">
            Inglizcha
          </th>
          <th class="px-6 py-4 border">
            Veb-sayt
          </th>
          <th class="w-[170px] px-6 py-4 border">
            Logotip
          </th>
          <th class="px-6 py-4 border w-30">
            Mashhur
          </th>
          <th class="w-[120px] px-6 py-4 border">
          </th>
        </tr>
        </thead>
        <tbody>
        <tr class="hover:bg-slate-50 cursor-pointer" [formGroup]="createForm" (ngSubmit)="createBrand()">
          <td class="border p-3">
            <mat-form-field class="fuse-mat-dense fuse-mat-rounded fuse-mat-no-subscript w-full" floatLabel="always">
              <input matInput type="text" placeholder="O'zbekcha" formControlName="nameUz"
                     (keydown.enter)="createBrand()">
            </mat-form-field>
          </td>
          <td class="border p-3">
            <mat-form-field class="fuse-mat-dense fuse-mat-rounded fuse-mat-no-subscript w-full" floatLabel="always">
              <input matInput type="text" placeholder="Ruscha" formControlName="nameRu" (keydown.enter)="createBrand()">
            </mat-form-field>
          </td>
          <td class="border p-3">
            <mat-form-field class="fuse-mat-dense fuse-mat-rounded fuse-mat-no-subscript w-full" floatLabel="always">
              <input matInput type="text" placeholder="Inglizcha" formControlName="nameEn"
                     (keydown.enter)="createBrand()">
            </mat-form-field>
          </td>
          <td class="border p-3">
            <mat-form-field class="fuse-mat-dense fuse-mat-rounded fuse-mat-no-subscript w-full" floatLabel="always">
              <input matInput type="url" placeholder="Veb-sayt" formControlName="website"
                     (keydown.enter)="createBrand()">
            </mat-form-field>
          </td>

          <td class="border p-3">
            @if (!createForm.get('logo').value) {
              <file-upload
                (onFilesUpload)="filesUploaded($event)"
              />
            }
            @if (createForm.get('logo').value) {
              <file-list
                [classes]="'grid-cols-3'"
                [files]="[createForm.get('logo').value]"
                (filesChange)="onLogoRemoved()"
              />
            }
          </td>

          <td class="border p-3 text-center">
            <mat-slide-toggle
              color="primary"
              formControlName="isPopular"
            />
          </td>

          <td class="border p-3">
            <button
              class="bg-primary-50 cursor-pointer"
              mat-icon-button
              color="primary"
              (click)="createBrand()"
            >
              <mat-icon class="icon-size-5" svgIcon="heroicons_outline:plus-circle"></mat-icon>
            </button>
          </td>
        </tr>
          @for (brand of brands(); track brand._id; let i = $index) {
            <tr class="hover:bg-slate-50 cursor-pointer">
              <td class="border p-3">
                <mat-form-field class="fuse-mat-dense fuse-mat-rounded fuse-mat-no-subscript w-full"
                                floatLabel="always">
                  <input matInput type="text" placeholder="O'zbekcha" [(ngModel)]="brand.nameUz"
                         (keydown.enter)="updateBrand(brand)">
                </mat-form-field>
              </td>
              <td class="border p-3">
                <mat-form-field class="fuse-mat-dense fuse-mat-rounded fuse-mat-no-subscript w-full"
                                floatLabel="always">
                  <input matInput type="text" placeholder="Ruscha" [(ngModel)]="brand.nameRu"
                         (keydown.enter)="updateBrand(brand)">
                </mat-form-field>
              </td>
              <td class="border p-3">
                <mat-form-field class="fuse-mat-dense fuse-mat-rounded fuse-mat-no-subscript w-full"
                                floatLabel="always">
                  <input matInput type="text" placeholder="Inglizcha" [(ngModel)]="brand.nameEn"
                         (keydown.enter)="updateBrand(brand)">
                </mat-form-field>
              </td>
              <td class="border p-3">
                <mat-form-field class="fuse-mat-dense fuse-mat-rounded fuse-mat-no-subscript w-full"
                                floatLabel="always">
                  <input matInput type="text" placeholder="Veb-sayt" [(ngModel)]="brand.website"
                         (keydown.enter)="updateBrand(brand)">
                </mat-form-field>
              </td>

              <td class="border p-3">
                @if (brand.logo) {
                  <file-list
                    [files]="[brand.logo]"
                    (filesChange)="brand.logo = null"
                    classes="grid-cols-3"
                  />
                }
                @if (!brand.logo) {
                  <file-upload
                    (onFilesUpload)="brand.logo = $event[0]"
                  />
                }
              </td>

              <td class="border p-3 text-center">
                <mat-slide-toggle
                  color="primary"
                  [(ngModel)]="brand.isPopular"
                  (change)="updateBrand(brand)"
                />
              </td>

              <td class="border p-3">
                <button
                  mat-icon-button
                  color="primary"
                  class="bg-primary-50"
                  (click)="updateBrand(brand)"
                >
                  <mat-icon class="icon-size-4" svgIcon="heroicons_outline:check"></mat-icon>
                </button>

                <button
                  class="bg-red-50 ml-[2px]"
                  mat-icon-button
                  color="warn"
                  (click)="deleteBrand(brand._id)"
                >
                  <mat-icon class="icon-size-4" svgIcon="heroicons_outline:trash"></mat-icon>
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>

      <mat-paginator
        class="z-10 border-b bg-gray-50 dark:bg-transparent sm:absolute sm:inset-x-0 sm:bottom-0 sm:border-b-0 sm:border-t"
        [length]="params.total"
        [pageIndex]="params.page"
        [pageSize]="params.limit"
        [showFirstLastButtons]="true"
        (page)="pageChange($event)"
      ></mat-paginator>
    </div>
  </div>

</div>
