<div
  class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden"
>
  <mat-button-group>
    @for (item of menu; track item) {
      <button
        mat-flat-button
        [routerLink]="item.url"
        routerLinkActive="mat-raised-button"
        #rla="routerLinkActive"
        [class.mat-raised-button]="rla.isActive"
      >
        {{ item.title }}
      </button>
    }
  </mat-button-group>

  <div class="grow relative">
    <div class="absolute inset-0">
      <router-outlet/>
    </div>
  </div>
</div>
