<!-- news.component.html -->
<div
  class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden"
>
  <nav mat-tab-nav-bar>
    @for (item of menu; track item) {
      <a
        mat-tab-link
        [routerLink]="item.url"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
      >
        {{ item.title }}
      </a>
    }
  </nav>

  <div class="grow border relative">
    <div class="absolute inset-0">
      <router-outlet/>
    </div>
  </div>
</div>
