<ticker/>
<header class="flex items-center justify-between px-6 py-6 bg-white dark:bg-[#1C2736]">
  <h2 class="text-2xl text-[#101828] font-medium dark:text-white">{{ 'explore.task'| translate }}</h2>

  <div class="flex items-center gap-5">
    <div
      #languageButton
      class="w-[52px] h-[52px] grid place-items-center rounded-full border border-[#F2F4F7] dark:border-[#4D5669] dark:bg-[#4D5669] cursor-pointer"
      mat-ripple
      (click)="overlayPanel.openPanel()"
    >
      @if ([ 'uz', 'uz_latn' ].includes(currentLang)) {
        <mat-icon [svgIcon]="'icon:uz'"/>
      } @else {
        <mat-icon [svgIcon]="'icon:' + currentLang"/>
      }
    </div>

    <div class="w-[52px] h-[52px] grid place-items-center rounded-full border border-[#F2F4F7] dark:border-[#4D5669] dark:bg-[#4D5669] cursor-pointer"
         mat-ripple [routerLink]="['/', 'notifications']">
      <div class="relative grid place-items-center">
        <mat-icon class="text-[#667085] dark:text-[#A2A8B2]" [svgIcon]="'icon:bell'"/>

        @if (notificationsCount) {
          <span
            class="absolute -top-2 -right-2 w-5 h-5 grid place-content-center rounded-full bg-[#F97066] text-white text-[8px]">
            {{ notificationsCount }}
          </span>
        }
      </div>
    </div>
    <div
      (click)="overlayPanelProfile.openPanel()"
      class="w-[52px] h-[52px] rounded-full relative overflow-hidden cursor-pointer"
      #avatarButton
    >
      @if (currentUser?.file_id) {
        <img class="object-cover" [fill]="true" [alt]=""
             [ngSrc]="fileHost + 'download/' + currentUser?.file_id + '/content'"
        >
      } @else {
        <img [ngSrc]="'assets/img/anonym.png'" [width]="52" [height]="52">
      }
    </div>
  </div>
</header>

<overlay-panel
  [originElement]="languageButton" #overlayPanel>
  <div
    class="rounded-lg shadow-lg py-2 bg-white text-[#667085] dark:bg-[#4D5669]"
    overlay-content>
    @for (lang of languages; track lang) {
      <div
        (click)="changeLanguage(lang.id)"
        [ngClass]="{
          'bg-[#F2F4F7] dark:bg-[#101828] text-[#101828]': lang.id === currentLang
        }"
        class="flex items-center py-2 px-5 gap-2.5 hover:bg-[#F2F4F7] dark:hover:bg-[#101828] font-medium cursor-pointer dark:text-[#A2A8B2]" mat-ripple>
        <mat-icon [svgIcon]="'icon:' + (lang.id === 'uz_latn' ? 'uz' : lang.id)"/>
        <span>{{ lang.text }}</span>
      </div>
    }
  </div>
</overlay-panel>

<overlay-panel
  [originElement]="avatarButton" #overlayPanelProfile>
  <div
    class="mt-2 rounded-lg shadow-lg py-2 bg-white dark:bg-[#4D5669] dark:border-none text-[#667085] border border-[#F2F4F7]"
    overlay-content>
    <div class="px-3 mb-2">
      <div class="py-2 px-1 border-b border-b-[#F2F4F7]">
        <div class="text-[#101828] dark:text-white font-medium">{{ currentUser?.last_name| titlecase }} {{ currentUser?.first_name| titlecase }} {{ currentUser?.middle_name| titlecase }}</div>
        <div class="text-[12px] text-secondary dark:text-[#C6CBD8]">{{ currentUser?.position_name || '-' }}</div>
      </div>
    </div>
    <div
      class="flex items-center px-4 py-3 gap-2.5 dark:hover:bg-[#101828] hover:bg-[#F2F4F7] font-medium cursor-pointer text-[#101828]"
      mat-ripple
      [routerLink]="['/profile']"
      (click)="overlayPanelProfile._overlayRef.detach()"
    >
      <mat-icon class="icon-size-20 text-[#101828] dark:text-white" [svgIcon]="'icon:avatar'"/>
      <span class="text-[#101828] dark:text-white">{{ 'personal.information'| translate }}</span>
    </div>

    <div
      (click)="logout()"
      class="flex items-center px-4 py-3 gap-2.5 dark:hover:bg-[#101828] hover:bg-[#F2F4F7] font-medium cursor-pointer text-[#101828]" mat-ripple>
      <mat-icon class="icon-size-20 text-red-500 dark:text-white" [svgIcon]="'icon:logout'"/>
      <span class="text-red-500 dark:text-white">{{ 'logout'| translate }}</span>
    </div>
  </div>
</overlay-panel>
