<mat-dialog-content class="px-0 dark:bg-[#1C2736]">
  <p class="dark:text-white">
    {{ data?.message| translate }}
  </p>

  <div class="flex gap-3 justify-end pt-3">
    <button
      matRipple
      (click)="confirmationAction(false)"
      class="h-[36px] px-5 border border-[#F2F4F7] rounded-[8px] cursor-pointer dark:text-[#A2A8B2]">
      {{ data.cancel| translate }}
    </button>

    <button
      matRipple
      (click)="confirmationAction(true)"
      class="h-[36px] rounded-[8px] text-white font-medium px-5 bg-[#9E77ED] cursor-pointe">
      {{ data.confirm| translate }}
    </button>
  </div>
</mat-dialog-content>
