/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
.align-top {
  vertical-align: top;
}

.align-center {
  vertical-align: center;
}

.fuse-mat-no-header .mat-mdc-form-field-subscript-wrapper {
  height: 0 !important;
}
