<mat-dialog-content class="dark:bg-[#1C2736]">
  <div class="flex items-start justify-between mb-4 border-b dark:border-b-[#36455899] pb-4">
    <div class="flex items-center gap-3">
      <div class="w-12 h-12 rounded-full relative overflow-hidden shrink-0">
        @if (data.file_id) {
          <img class="object-cover" [ngSrc]="fileHost + 'download/' + data.file_id + '/content'" [fill]="true"
               [alt]="data?.full_name">
        } @else {
          <img class="object-cover" [ngSrc]="'assets/img/anonym.png'" [fill]="true" [alt]="data?.full_name">
        }

      </div>

      <div>
        <div
          class="text-[#141522] dark:text-white text-[16px] font-medium line-clamp-1 uppercase leading-[1]">{{ data?.full_name }}
        </div>
        <div
          class="text-[#54577A] dark:text-[#A2A8B2] text-[12px] line-clamp-1">{{ data?.position_name || ('not.specified'| translate) }}
        </div>
      </div>
    </div>

    <button
      class="w-10 h-10 rounded-full grid place-content-center transition-all hover:bg-[#F2F4F7] dark:hover:bg-[#4D5669] dark:text-[#A2A8B2]"
      mat-dialog-close mat-ripple>
      <mat-icon class="icon-size-12" [svgIcon]="'icon:x'"></mat-icon>
    </button>
  </div>

  <div
    class="grid grid-cols-4 py-3 bg-[#F2F4F7] dark:bg-[#4D5669] rounded-t-lg text-[#101828] dark:text-white text-[14px]">
    <div class="flex items-center gap-3 px-3">
      <mat-icon [svgIcon]="'icon:objective'"/>
      <span>{{ 'the.main.goal'| translate }}</span>
    </div>

    <div class="flex items-center gap-3 px-3">
      <mat-icon [svgIcon]="'icon:objective'"/>
      <span>{{ 'objectives'| translate }}</span>
    </div>

    <div class="flex items-center gap-3 px-3">
      <mat-icon [svgIcon]="'icon:growing-arrow'"/>
      <span>{{ 'key.results'| translate }}</span>
    </div>

    <div class="flex items-center gap-3 px-3">
      <span>{{ 'comments'| translate }}</span>
    </div>
  </div>

  <div class="max-h-[400px] overflow-auto border border-[#F2F4F7] dark:border-[#4D5669] rounded-b-lg text-[14px]">
    @for (obj of objectives; track obj) {
      <div
        class="grid grid-cols-4 border-t border-t-[#F2F4F7] dark:border-t-[#4D5669] dark:text-white">
        <div
          class="flex items-center p-3 border-r border-r-[#F2F4F7] dark:border-r-[#4D5669] text-[#9E77ED] font-medium">
          {{ rootObjectives[obj?.root_objective_id]| translate }}
        </div>

        <div class="flex items-center p-3 border-r border-r-[#F2F4F7] dark:border-r-[#4D5669]">
          {{ obj?.name?.name_lat }}
        </div>

        <div class="col-span-2">
          @for (key of obj?.keys || []; track key) {
            <div class="grid grid-cols-2">
              <div
                class="flex items-center p-3 border-r border-r-[#F2F4F7] dark:border-r-[#4D5669] border-b  dark:border-b-[#4D5669] last:border-b-0">
                {{ key?.key_name?.name_lat }} <br>
                {{ 'due.date'| translate }}: {{ key?.due_date| date: 'dd.MM.YYYY' }}
              </div>

              <div>
                @for (comment of key?.comments || []; track comment) {
                  <div class="p-3 border-b  dark:border-b-[#4D5669]">
                    {{ comment?.content }}

                    <div class="flex flex-col gap-1 pt-1">
                      @for (file of comment?.files || []; track file) {
                        <file-component [file]="file"/>
                      }
                    </div>
                  </div>
                }
              </div>
            </div>
          }
        </div>
      </div>
    }

    @if (!objectives?.length) {
      <div class="p-5 text-center text-black dark:text-white font-medium">
        {{ 'no.data.found'| translate }}
      </div>
    }
  </div>
</mat-dialog-content>
