<div
  class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden"
>
  <!-- Header -->
  <div
    class="flex flex-col px-6 py-8 gap-4"
  >
    <div class="flex items-center justify-between">
      <div class="text-4xl font-extrabold tracking-tight">Buyurtmalar ro'yxati</div>
    </div>
    <!-- Title -->

    <div class="grid grid-cols-5 gap-5">
      <mat-form-field
        class="fuse-mat-dense fuse-mat-rounded"
        [subscriptSizing]="'dynamic'"
      >
        <mat-icon
          class="icon-size-5"
          matPrefix
          [svgIcon]="'heroicons_solid:magnifying-glass'"
        ></mat-icon>
        <input
          matInput
          [placeholder]="'Buyurtmani qidirish'"
          [(ngModel)]="params.search"
          (keydown.enter)="searchProduct()"
        />
      </mat-form-field>

      <mat-form-field
        class="fuse-mat-dense fuse-mat-rounded"
        [subscriptSizing]="'dynamic'"
      >
        <mat-select [(ngModel)]="params.status" (selectionChange)="searchProduct()" placeholder="Status">
          @for (status of statuses(); track status) {
            <mat-option [value]="status._id">
              <span [ngStyle]="{ color: status?.color }">{{ status?.nameUz }}</span>
            </mat-option>
          }
        </mat-select>

        @if (params.status) {
          <button matSuffix mat-icon-button (click)="params.status = null; searchProduct()">
            <mat-icon svgIcon="heroicons_outline:x-mark"></mat-icon>
          </button>
        }
      </mat-form-field>

      <mat-form-field
        class="fuse-mat-dense fuse-mat-rounded"
        [subscriptSizing]="'dynamic'"
      >
        <input
          matInput
          [matDatepicker]="fromDatePicker"
          readonly
          (click)="fromDatePicker.open()"
          placeholder="Yaratilgan sana (dan)"
          [(ngModel)]="params.fromDate"
          [max]="params.toDate"
          (dateChange)="searchProduct()"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="fromDatePicker"
        />
        @if (params.fromDate && !params.toDate) {
          <button matSuffix mat-icon-button (click)="params.fromDate = null; searchProduct()">
            <mat-icon svgIcon="heroicons_outline:x-mark"></mat-icon>
          </button>
        }
        <mat-datepicker
          #fromDatePicker
        />
      </mat-form-field>

      <mat-form-field
        class="fuse-mat-dense fuse-mat-rounded"
        [subscriptSizing]="'dynamic'"
      >
        <input
          matInput
          [matDatepicker]="toDatePicker"
          readonly
          (click)="toDatePicker.open()"
          placeholder="Yaratilgan sana (gacha)"
          [(ngModel)]="params.toDate"
          (dateChange)="searchProduct()"
          [min]="params.fromDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="toDatePicker"
        />
        @if (params.toDate) {
          <button matSuffix mat-icon-button (click)="params.toDate = null; searchProduct()">
            <mat-icon svgIcon="heroicons_outline:x-mark"></mat-icon>
          </button>
        }
        <mat-datepicker
          #toDatePicker
        />
      </mat-form-field>
    </div>
  </div>

  <!-- Main -->
  <div class="flex flex-auto overflow-hidden">
    <!-- Products list -->
    <div
      class="flex flex-auto flex-col overflow-hidden sm:mb-18 sm:overflow-y-auto"
    >
      @if (orders.length > 0) {
        <table class="w-full border-collapse border border-gray-300">
          <!-- Header -->
          <thead
            class="bg-gray-50 text-secondary sticky top-0 z-10 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5">
          <tr>
            <th class="px-6 py-4 border">ID</th>
            <th class="px-6 py-4 border">Sana</th>
            <th class="px-6 py-4 border">Tashkilot</th>
            <th class="px-6 py-4 border">Kontakt ma'lumotlari</th>
            <th class="px-6 py-4 border w-1/5">Tovarlar</th>
            <th class="px-6 py-4 border">Status</th>
            <th class="px-6 py-4 border">Harakatlar</th>
          </tr>
          </thead>
          <tbody>
            @for (order of orders; track order) {
              <tr class="hover:bg-slate-50 cursor-pointer">
                <!-- Image -->
                <td class="border px-6 py-3">
                  {{ order.orderCode }}
                </td>
                <!-- SKU -->
                <td class="border px-6 py-3 hidden md:table-cell">
                  {{ order?.createdAt| date: 'dd.MM.yyyy HH:mm' }}
                </td>

                <!-- Name -->
                <td class="border px-6 py-3">
                  @if (order.companyName) {
                    <div class="flex items-center gap-2 text-blue-600">
                      <mat-icon class="icon-size-5" svgIcon="heroicons_solid:building-office"></mat-icon>
                      <span>{{ order.companyName }}</span>
                    </div>
                  } @else {
                    <div class="flex items-center gap-2 text-green-600">
                      <mat-icon class="icon-size-5" svgIcon="heroicons_solid:user"></mat-icon>
                      <span>Jismoniy shaxs</span>
                    </div>
                  }
                </td>

                <!-- Category -->
                <td class="border px-6 py-3">
                  <div class="flex gap-3 items-center mb-1">
                    <span class="font-medium text-gray-600 min-w-[60px]">Ism: </span>
                    <span
                      class="text-secondary">{{ order?.lastName| titlecase }} {{ order?.firstName| titlecase }}</span>
                  </div>
                  <div class="flex gap-3 items-center mb-1">
                    <span class="font-medium text-gray-600 min-w-[60px]">E-mail: </span>
                    <a class="text-blue-600 hover:text-blue-800 hover:underline font-medium text-base"
                       [href]="'mailto:' + order?.email">{{ order?.email }}</a>
                  </div>
                  <div class="flex gap-3 items-center">
                    <span class="font-medium text-gray-600 min-w-[60px]">Tel: </span>
                    <a class="text-blue-600 hover:text-blue-800 hover:underline font-medium text-base"
                       [href]="'tel:' + order?.phone">{{ order?.phone }}</a>
                  </div>
                </td>

                <!-- Price -->
                <td class="border px-6 py-3 hidden sm:table-cell">
                  <div class="flex flex-wrap gap-1">
                    @for (item of order.items; track item) {
                      <div
                        class="inline-flex items-center px-2.5 py-0.5 rounded-full bg-blue-50 text-blue-800 cursor-default">
                        {{ item.sku }} x {{ item.quantity }}
                      </div>
                    }
                  </div>
                </td>

                <!-- Stock -->
                <td class="border px-6 py-3 hidden lg:table-cell">
                  <mat-form-field class="fuse-mat-dense fuse-mat-rounded fuse-mat-no-subscript w-full">
                    <mat-select [value]="order.status._id" (selectionChange)="orderStatusChange(order._id, $event)">
                      @for (status of statuses(); track status) {
                        <mat-option [value]="status._id">
                          <span [ngStyle]="{ color: status?.color }">{{ status?.nameUz }}</span>
                        </mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                </td>

                <!-- Actions -->
                <td class="border px-6 py-3">
                  <button
                    class="bg-red-50"
                    mat-icon-button
                    color="warn"
                    (click)="deleteProduct(order._id)"
                  >
                    <mat-icon class="icon-size-4" svgIcon="heroicons_outline:trash"></mat-icon>
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </table>


        <mat-paginator
          class="z-10 border-b bg-gray-50 dark:bg-transparent sm:absolute sm:inset-x-0 sm:bottom-0 sm:border-b-0 sm:border-t"
          [length]="params.total"
          [pageIndex]="params.page"
          [pageSize]="params.limit"
          [showFirstLastButtons]="true"
          (page)="pageChange($event)"
        ></mat-paginator>
      }
    </div>
  </div>
</div>
