<div
  class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden"
>
  <!-- Header -->
  <div
    class="flex flex-col px-6 py-8 gap-4"
  >
    <div class="flex items-center justify-between">
      <div class="text-4xl font-extrabold tracking-tight">Buyurtmalar ro'yxati</div>
    </div>
    <!-- Title -->

    <div class="grid grid-cols-5 gap-5">
      <mat-form-field
        class="fuse-mat-dense fuse-mat-rounded"
        [subscriptSizing]="'dynamic'"
      >
        <mat-icon
          class="icon-size-5"
          matPrefix
          [svgIcon]="'heroicons_solid:magnifying-glass'"
        ></mat-icon>
        <input
          matInput
          [placeholder]="'Buyurtmani qidirish ID / Elektron pochta / Telefon raqam'"
          [(ngModel)]="params.search"
          (keydown.enter)="searchProduct()"
        />
      </mat-form-field>
    </div>
  </div>

  <!-- Main -->
  <div class="flex flex-auto overflow-hidden">
    <!-- Products list -->
    <div
      class="flex flex-auto flex-col overflow-hidden sm:mb-18 sm:overflow-y-auto"
    >
      @if (orders.length > 0) {
        <table class="w-full border-collapse border border-gray-300">
          <!-- Header -->
          <thead class="bg-gray-50 text-secondary sticky top-0 z-10 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5">
          <tr>
            <th class="px-6 py-4 border">ID</th>
            <th class="px-6 py-4 border">Sana</th>
            <th class="px-6 py-4 border">Tashkilot</th>
            <th class="px-6 py-4 border">Kontakt ma'lumotlari</th>
            <th class="px-6 py-4 border">Tovarlar</th>
            <th class="px-6 py-4 border">Status</th>
            <th class="px-6 py-4 border">Mavjudligi</th>
            <th class="px-6 py-4 border">Harakatlar</th>
          </tr>
          </thead>
          <tbody>
            @for (order of orders; track order) {
              <tr class="hover:bg-slate-50 cursor-pointer">
                <!-- Image -->
                <td class="border px-6 py-3">
                  {{ order.orderCode }}
                </td>
                <!-- SKU -->
                <td class="border px-6 py-3 hidden md:table-cell">
                  {{ order?.createdAt| date: 'dd.MM.yyyy HH:mm'}}
                </td>

                <!-- Name -->
                <td class="border px-6 py-3">{{ order.companyName || 'Jismoniy shaxs' }}</td>

                <!-- Category -->
                <td class="border px-6 py-3">
                  <div class="flex gap-3">
                    <span class="font-medium">Ism: </span>
                    <span class="text-secondary">{{ order?.lastName| titlecase }} {{ order?.firstName| titlecase }}</span>
                  </div>
                  <div class="flex gap-3">
                    <span class="font-medium">E-mail: </span>
                    <a class="text-primary underline" [href]="'mailto:' + order?.email">{{ order?.email }}</a>
                  </div>
                  <div class="flex gap-3">
                    <span class="font-medium">Tel: </span>
                    <a class="text-primary underline" [href]="'tel:' + order?.phone">{{ order?.phone }}</a>
                  </div>
                </td>

                <!-- Price -->
                <td class="border px-6 py-3 hidden sm:table-cell">
                  @if (order.oldPrice) {
                    <del class="text-red-500">{{ order.oldPrice | currency: 'USD': 'symbol': '1.2-2' }}</del> /
                  }
                  @if (order.currentPrice) {
                    {{ order.currentPrice | currency : 'USD' : 'symbol' : '1.2-2' }}
                  }

                  @if (!order.currentPrice && !order.oldPrice) {
                    So'rov bo'yicha
                  }
                </td>

                <!-- Stock -->
                <td class="border px-6 py-3 hidden lg:table-cell uppercase">{{ order.availability }}</td>

                <!-- Status Toggle -->
                <td class="border px-6 py-3 hidden lg:table-cell" (click)="$event.stopPropagation()">
                  <mat-slide-toggle color="primary" [checked]="order.status === 1" (change)="orderStatusChange($event, order)"></mat-slide-toggle>
                </td>

                <!-- Actions -->
                <td class="border px-6 py-3">
                  <button class="h-7 min-h-7 min-w-10 px-2 leading-6" mat-stroked-button color="warn" (click)="$event.stopPropagation(); deleteProduct(order._id)">
                    <mat-icon class="icon-size-4" svgIcon="heroicons_outline:trash"></mat-icon>
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </table>


        <mat-paginator
          class="z-10 border-b bg-gray-50 dark:bg-transparent sm:absolute sm:inset-x-0 sm:bottom-0 sm:border-b-0 sm:border-t"
          [length]="params.total"
          [pageIndex]="params.page"
          [pageSize]="params.limit"
          [showFirstLastButtons]="true"
          (page)="pageChange($event)"
        ></mat-paginator>
      }
    </div>
  </div>
</div>
