@if (viewType() === 'grid') {
  <div class="grid {{ classes() }} gap-3">
    @for (file of files(); track file) {
      <div class="aspect-square border rounded grid place-items-center overflow-hidden relative">
        <img class="w-3/5" [src]="host + file.path" [alt]="file.originalname">

        <div
          (click)="removeFile(file)"
          class="absolute inset-0 grid place-content-center bg-black bg-opacity-35 cursor-pointer opacity-0 hover:opacity-100">
          <mat-icon class="text-white" svgIcon="heroicons_outline:trash"></mat-icon>
        </div>
      </div>
    }
  </div>
}

@if (viewType() === 'label') {
  <div class="flex gap-2 flex-wrap">
    @for (file of files(); track file) {
      <div class="flex items-center gap-4 border h-10 pl-5 pr-3 rounded-full cursor-pointer" (click)="openFileView(file)">
        <span>{{ file.filename| shortenFilename }}</span>

        <button  mat-icon-button (click)="removeFile(file)">
          <mat-icon class="icon-size-5" svgIcon="heroicons_outline:x-mark"></mat-icon>
        </button>
      </div>
    }
  </div>
}

@if (openedFile()) {
  <div (click)="openedFile.set(null)" class="fixed inset-0 bg-black bg-opacity-30 flex items-center justify-center z-9999">
    <img class="w-1/4" [src]="host + openedFile().path" alt="">
  </div>
}
