<fuse-card class="flex-col p-6">
  <div class="flex flex-col gap-3">
    <div class="font-semibold text-xl">Birinchi darajali kategoriyalar</div>

    <table class="w-full">
      <thead>
      <tr>
        <th class="font-medium p-0 w-12">
          <div class="p-4 bg-gray-100 rounded-tl-lg text-center">№</div>
        </th>
        <th class="font-medium p-0 border-x">
          <div class="p-4 bg-gray-100 text-center">O'zbekcha</div>
        </th>
        <th class="font-medium p-0 border-x">
          <div class="p-4 bg-gray-100 text-center">Ruscha</div>
        </th>
        <th class="font-medium p-0 border-x">
          <div class="p-4 bg-gray-100 text-center">Inglizcha</div>
        </th>
        <th class="font-medium p-0 w-24">
          <div class="p-4 bg-gray-100 rounded-tr-lg text-center">Amal</div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr class="border-y" [formGroup]="createForm">
        <td class="font-medium p-0 relative">
          <div class="absolute inset-0 p-4 border-l h-full"></div>
        </td>
        <td class="font-medium p-0 border-x">
          <div class="p-4 pb-0">
            <mat-form-field class="fuse-mat-dense fuse-mat-no-header w-full" floatLabel="always">
              <input matInput type="text" placeholder="O'zbekcha" formControlName="nameUz">
            </mat-form-field>
          </div>
        </td>
        <td class="font-medium p-0 border-x">
          <div class="p-4 pb-0">
            <mat-form-field class="fuse-mat-dense fuse-mat-no-header w-full" floatLabel="always">
              <input matInput type="text" placeholder="Ruscha" formControlName="nameRu">
            </mat-form-field>
          </div>
        </td>
        <td class="font-medium p-0 border-x">
          <div class="p-4 pb-0">
            <mat-form-field class="fuse-mat-dense fuse-mat-no-header w-full" floatLabel="always">
              <input matInput type="text" placeholder="Inglizcha" formControlName="nameEn">
            </mat-form-field>
          </div>
        </td>
        <td class="font-medium p-0 relative">
          <div class="absolute inset-0 p-4 border-r h-full">
            <button mat-flat-button color="primary" type="submit" [disabled]="createForm.invalid || createForm.disabled">
              <mat-icon svgIcon="heroicons_outline:plus-circle"></mat-icon>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</fuse-card>

