<table class="w-full">
  <thead>
  <tr>
    <th class="font-medium p-0 w-[70px]">
      <div class="p-4 bg-gray-100 rounded-tl-lg text-center">№</div>
    </th>
    <th class="font-medium p-0 border-x">
      <div class="p-4 bg-gray-100 text-center">O'zbekcha</div>
    </th>
    <th class="font-medium p-0 border-x">
      <div class="p-4 bg-gray-100 text-center">Ruscha</div>
    </th>
    <th class="font-medium p-0 border-x">
      <div class="p-4 bg-gray-100 text-center">Inglizcha</div>
    </th>
    <th class="font-medium p-0 w-24">
      <div class="p-4 bg-gray-100 rounded-tr-lg text-center">Amal</div>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr class="border-y" [formGroup]="createForm" (ngSubmit)="createCategory()">
    <td class="font-medium p-0 relative">
      <div class="absolute inset-0 p-4 border-l h-full"></div>
    </td>
    <td class="font-medium p-0 border-x">
      <div class="p-4 pb-0">
        <mat-form-field class="fuse-mat-dense fuse-mat-no-header w-full" floatLabel="always">
          <input matInput type="text" placeholder="O'zbekcha" formControlName="nameUz">
        </mat-form-field>
      </div>
    </td>
    <td class="font-medium p-0 border-x">
      <div class="p-4 pb-0">
        <mat-form-field class="fuse-mat-dense fuse-mat-no-header w-full" floatLabel="always">
          <input matInput type="text" placeholder="Ruscha" formControlName="nameRu">
        </mat-form-field>
      </div>
    </td>
    <td class="font-medium p-0 border-x">
      <div class="p-4 pb-0">
        <mat-form-field class="fuse-mat-dense fuse-mat-no-header w-full" floatLabel="always">
          <input matInput type="text" placeholder="Inglizcha" formControlName="nameEn">
        </mat-form-field>
      </div>
    </td>
    <td class="font-medium p-0 relative">
      <div class="absolute inset-0 p-4 border-r h-full">
        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="createForm.invalid || createForm.disabled"
          (click)="createCategory()"
        >
          <mat-icon svgIcon="heroicons_outline:plus-circle"></mat-icon>
        </button>
      </div>
    </td>
  </tr>

    @for (category of categories(); track category._id; let i = $index) {
      <tr class="border-y">
        <td class="font-medium p-0 relative">
          <div class="absolute inset-0 p-4 border-l h-full">
            <div class="absolute top-1 left-2">{{ i + 1 }}</div>
            <button mat-icon-button (click)="category.showChildren = !category.showChildren">
              @if (category.showChildren) {
                <mat-icon class="icon-size-5" svgIcon="heroicons_solid:chevron-down"></mat-icon>
              }
              @if (!category.showChildren) {
                <mat-icon class="icon-size-5" svgIcon="heroicons_solid:chevron-right"></mat-icon>
              }
            </button>
          </div>
        </td>
        <td class="font-medium p-0 border-x">
          <div class="p-4 pb-0">
            <mat-form-field class="fuse-mat-dense fuse-mat-no-header w-full" floatLabel="always">
              <input matInput type="text" placeholder="O'zbekcha" [(ngModel)]="category.nameUz"
                     (keydown.enter)="updateCategory(category)">
            </mat-form-field>
          </div>
        </td>
        <td class="font-medium p-0 border-x">
          <div class="p-4 pb-0">
            <mat-form-field class="fuse-mat-dense fuse-mat-no-header w-full" floatLabel="always">
              <input matInput type="text" placeholder="Ruscha" [(ngModel)]="category.nameRu"
                     (keydown.enter)="updateCategory(category)">
            </mat-form-field>
          </div>
        </td>
        <td class="font-medium p-0 border-x">
          <div class="p-4 pb-0">
            <mat-form-field class="fuse-mat-dense fuse-mat-no-header w-full" floatLabel="always">
              <input matInput type="text" placeholder="Inglizcha" [(ngModel)]="category.nameEn"
                     (keydown.enter)="updateCategory(category)">
            </mat-form-field>
          </div>
        </td>
        <td class="font-medium p-0 relative">
          <div class="absolute inset-0 p-4 border-r h-full">
            <button
              mat-flat-button
              color="warn"
              (click)="deleteCategory(category._id)"
            >
              <mat-icon class="icon-size-5" svgIcon="heroicons_outline:trash"></mat-icon>
            </button>
          </div>
        </td>
      </tr>

      @if (category.showChildren) {
        <tr>
          <td class="py-4 pl-6 pr-0" colspan="5">
            <first-level
              [parentId]="category._id"
            />
          </td>
        </tr>
      }
    }
  </tbody>
</table>

