<table class="w-full border-collapse border-spacing-0">
  <thead class="sticky top-0 z-10 border-b-[16px] border-b-[#F8F8F8] dark:border-b-[#101828]">
  <tr>
    <th class="p-0">
      <div
        class="flex items-center gap-[9px] font-medium h-14 px-4 bg-white dark:bg-[#1C2736] rounded-l-[12px] dark:shadow">
        <mat-icon class="text-[#667085] dark:text-[#A2A8B2]" [svgIcon]="'icon:avatar'"/>
        <span class="text-[#141522] dark:text-white">{{ 'name'| translate }}</span>
      </div>
    </th>
    <th class="p-0">
      <div class="flex items-center gap-[9px] font-medium h-14 px-4 bg-white dark:bg-[#1C2736] dark:shadow">
        <mat-icon class="text-[#667085] dark:text-[#A2A8B2]" [svgIcon]="'icon:objective'"/>
        <span class="text-[#141522] dark:text-white">{{ 'objectives'| translate }}</span>
      </div>
    </th>
    <th class="p-0">
      <div class="flex items-center gap-[9px] font-medium h-14 px-4 bg-white dark:bg-[#1C2736] dark:shadow">
        <mat-icon class="text-[#667085] dark:text-[#A2A8B2]" [svgIcon]="'icon:growing-arrow'"/>
        <span class="text-[#141522] dark:text-white">{{ 'key.results'| translate }}</span>
      </div>
    </th>
    <th class="p-0">
      <div
        class="flex items-center gap-[9px] font-medium h-14 px-4 bg-white dark:bg-[#1C2736] rounded-r-[12px] dark:shadow">
      </div>
    </th>
  </tr>
  </thead>

  <tbody>
    @for (member of members; track member) {
      <tr
        (click)="selectMember(member)"
        class="border-b-[8px] border-b-transparent cursor-pointer">
        <td class="p-0">
          <div class="flex items-center gap-[12px] h-[72px] px-4 bg-white dark:bg-[#1C2736] rounded-l-[12px]">
            <div class="w-12 h-12 rounded-full relative overflow-hidden flex-shrink-0">
              @if (member?.file_id) {
                <img class="object-cover" [ngSrc]="fileHost + 'download/' + member.file_id + '/content'" [fill]="true"
                     [alt]="member?.full_name">
              } @else {
                <img class="object-cover" [ngSrc]="'assets/img/anonym.png'" [fill]="true" [alt]="member?.full_name">
              }
            </div>
            <div>
              <div
                class="text-[#141522] dark:text-white text-[16px] font-medium line-clamp-1 uppercase">{{ member.full_name| titlecase }}
              </div>
              <div
                class="text-[#54577A] dark:text-[#A2A8B2] text-[12px] line-clamp-1">{{ member?.position_name || ('not.specified'| translate) }}
              </div>
            </div>
          </div>
        </td>
        <td class="p-0">
          <div
            class="flex items-center font-medium h-[72px] px-4 bg-white dark:bg-[#1C2736] text-[18px] dark:text-white">
            {{ member?.objectives_count }}
          </div>
        </td>
        <td class="p-0">
          <div
            class="flex items-center font-medium h-[72px] px-4 bg-white dark:bg-[#1C2736] text-[18px] dark:text-white">
            {{ member?.keys_count }}
          </div>
        </td>
        <td class="p-0">
          <div
            class="flex items-center font-medium h-[72px] px-4 bg-white dark:bg-[#1C2736] text-[18px] rounded-r-[12px] dark:text-white">
            <member-actions
              *hasPermissions="['admin']"
              (click)="$event.stopPropagation();"
              [memberId]="member.id"
            />
          </div>
        </td>
      </tr>
    }
  </tbody>
</table>
