<aside class="flex flex-col min-w-[300px] h-full p-6 dark:bg-[#1C2736]">
  <div class="mb-12">
    <img class="dark:hidden" [ngSrc]="'assets/logos/logo.svg'" [width]="160" [height]="35.5" alt="Logo image">
    <img class="hidden dark:block" [ngSrc]="'assets/logos/logo-white.svg'" [width]="160" [height]="35.5" alt="Logo image">
  </div>

  <ul class="flex flex-col flex-grow gap-3" scrollbar>
    @for (menuItem of menu; track menuItem; let i = $index) {
      <li
        [matTooltip]="menuItem?.tooltipText| translate"
      >
        <a
          [routerLink]="menuItem.link"
          [routerLinkActive]="'bg-[#F2F4F7] dark:bg-[#4D5669] text-[#101828]'"
          mat-ripple
          [matRippleDisabled]="!!menuItem?.tooltipText"
          class="flex items-center gap-3 p-4 rounded-lg font-medium dark:text-[#E4E7EC]"
          [ngClass]="{
            'hover:bg-[#F2F4F7] cursor-pointer dark:hover:bg-[#4D5669]': !menuItem?.tooltipText,
            'opacity-50 cursor-default': menuItem?.tooltipText,
          }"
        >
          <mat-icon [svgIcon]="menuItem.icon"/>
          <span>{{ menuItem.text| translate }}</span>
        </a>
      </li>
    }

    <li *hasPermissions="['admin']">
      <a
        [routerLink]="['/admin-settings']"
        [routerLinkActive]="'bg-[#F2F4F7] dark:bg-[#4D5669] text-[#101828]'"
        mat-ripple
        class="flex items-center gap-3 p-4 rounded-lg font-medium dark:text-[#E4E7EC] hover:bg-[#F2F4F7] cursor-pointer dark:hover:bg-[#4D5669]"
      >
        <mat-icon [svgIcon]="'icon:settings'"/>
        <span>{{ 'admin.settings' | translate }}</span>
      </a>
    </li>
  </ul>


  <div class="grid grid-cols-2 gap-[6px] p-[6px] h-[48px] rounded-full bg-[#F2F4F7] dark:bg-[#101828] shrink-0 opacity-50 dark:opacity-100">
    <button
      (click)="setTheme('light')"
      class="flex items-center justify-center gap-2 h-full rounded-full font-medium bg-white shadow text-black dark:bg-transparent dark:text-[#667085] dark:shadow-none"
    >
      <mat-icon class="icon-size-22" [svgIcon]="'icon:sun'"/>
      <span>{{ 'light.mode'| translate }}</span>
    </button>
    <button
      (click)="setTheme('dark')"
      class="flex items-center justify-center gap-2 h-full rounded-full font-medium dark:bg-[#1D2939] dark:text-white dark:shadow"
    >
      <mat-icon class="icon-size-18" [svgIcon]="'icon:moon'"/>
      <span>{{ 'night.mode'| translate }}</span>
    </button>
  </div>
</aside>
