<div class="fixed inset-0 flex flex-col gap-5 p-6 bg-white">
  <div class="flex items-center justify-between">
    <div class="text-xl font-medium text-gray-700">Savolni tahrirlash</div>

    <button mat-icon-button mat-dialog-close class="bg-gray-50">
      <mat-icon svgIcon="heroicons_outline:x-mark"></mat-icon>
    </button>
  </div>

  <div class="grow relative">
    <form class="absolute inset-0 overflow-auto flex flex-col gap-2" [formGroup]="faqForm"
          (ngSubmit)="edit()">
      <fieldset class="border px-3 pb-1 pt-2 rounded-lg bg-slate-50">
        <legend class="text-gray-900 font-medium text-[16px]">Savol</legend>

        <div class="grid grid-cols-3 gap-5">
          <mat-form-field class="fuse-mat-dense" floatLabel="always">
            <mat-label>O'zbekcha</mat-label>
            <input formControlName="questionUz" matInput type="text" placeholder="O'zbekcha savol">
            <mat-error>Majburiy maydon</mat-error>
          </mat-form-field>
          <mat-form-field class="fuse-mat-dense" floatLabel="always">
            <mat-label>Ruscha</mat-label>
            <input formControlName="questionRu" matInput type="text" placeholder="Ruscha savol">
            <mat-error>Majburiy maydon</mat-error>
          </mat-form-field>
          <mat-form-field class="fuse-mat-dense" floatLabel="always">
            <mat-label>Inglizcha</mat-label>
            <input formControlName="questionEn" matInput type="text" placeholder="Inglizcha savol">
            <mat-error>Majburiy maydon</mat-error>
          </mat-form-field>
        </div>
      </fieldset>

      <fieldset class="border px-3 pb-1 pt-2 rounded-lg bg-slate-50">
        <legend class="text-gray-900 font-medium text-[16px]">Javob</legend>

        <div class="grid grid-cols-3 gap-5">
          <mat-form-field class="fuse-mat-dense" floatLabel="always">
            <mat-label>O'zbekcha</mat-label>
            <textarea formControlName="answerUz" matInput rows="5" placeholder="O'zbekcha javob"></textarea>
            <mat-error>Majburiy maydon</mat-error>
          </mat-form-field>
          <mat-form-field class="fuse-mat-dense" floatLabel="always">
            <mat-label>Ruscha</mat-label>
            <textarea formControlName="answerRu" matInput rows="5" placeholder="Ruscha javob"></textarea>
            <mat-error>Majburiy maydon</mat-error>
          </mat-form-field>
          <mat-form-field class="fuse-mat-dense" floatLabel="always">
            <mat-label>Inglizcha</mat-label>
            <textarea formControlName="answerEn" matInput rows="5" placeholder="Inglizcha javob"></textarea>
            <mat-error>Majburiy maydon</mat-error>
          </mat-form-field>
        </div>
      </fieldset>
    </form>
  </div>

  <div class="col-span-3 flex justify-end gap-4">
    <button mat-stroked-button mat-dialog-close color="warn">
      <mat-icon svgIcon="heroicons_outline:x-circle"/>
      <span class="ml-2">Bekor qilish</span>
    </button>
    <button (click)="edit()" mat-flat-button color="primary"
            [disabled]="faqForm.invalid || faqForm.disabled">
      <mat-icon svgIcon="heroicons_solid:check-circle"/>
      <span class="ml-2">O'zgarishlarni saqlash</span>
    </button>
  </div>
</div>
