<button
  class="w-10 h-10 grid place-items-center rounded-full hover:bg-[#F2F4F7] dark:hover:bg-[#4D5669] cursor-pointer text-[#667085]"
  mat-ripple
  #actionsPanel
  (click)="overlayPanel.openPanel()"
>
  <mat-icon class="icon-size-16 dark:text-[#A2A8B2] rotate-90" [svgIcon]="'icon:three-dots'"/>
</button>

<overlay-panel
  [originElement]="actionsPanel" #overlayPanel>
  <div
    class="py-1 rounded-[8px] shadow-lg bg-white border-[#F2F4F7] dark:bg-[#4D5669] dark:border-none border"
    overlay-content>

    <div
      class="flex items-center gap-2 py-2 px-4 text-[#101828] dark:text-white hover:bg-[#F2F4F7] dark:hover:bg-[#1C2736] cursor-pointer font-medium"
      mat-ripple
      (click)="enterToUserProfile()"
    >
      <mat-icon class="icon-size-20" [svgIcon]="'icon:key'"/>
      <span>{{ 'enter.to.profile'| translate }}</span>
    </div>

    <div
      class="flex items-center gap-2 py-2 px-4 text-[#101828] dark:text-white hover:bg-[#F2F4F7] dark:hover:bg-[#1C2736] cursor-pointer font-medium"
      mat-ripple
      (click)="openUserDataEditDialog()"
    >
      <mat-icon class="icon-size-18" [svgIcon]="'icon:pencil'"/>
      <span>{{ 'edit'| translate }}</span>
    </div>

    <div
      (click)="deleteMember(overlayPanel._overlayRef)"
      class="flex items-center gap-2 py-2 px-4 text-[#101828] dark:text-white hover:bg-[#F2F4F7] dark:hover:bg-[#1C2736] cursor-pointer font-medium"
      mat-ripple
    >
      <mat-icon class="icon-size-20" [svgIcon]="'icon:trash'"/>
      <span>{{ 'delete'| translate }}</span>
    </div>
  </div>
</overlay-panel>
