<div class="fixed inset-0 flex flex-col gap-5 p-6 bg-white">
  <div class="flex items-center justify-between">
    <div class="text-xl font-medium text-gray-700">Yangi tovar qo'shish</div>

    <button mat-icon-button mat-dialog-close class="bg-gray-50">
      <mat-icon svgIcon="heroicons_outline:x-mark"></mat-icon>
    </button>
  </div>

  <div class="grow relative">
    <form class="absolute inset-0 overflow-auto flex flex-col gap-2" [formGroup]="productForm"
          (ngSubmit)="createProduct()">
      <fieldset class="border px-3 pb-1 pt-2 rounded-lg bg-slate-50">
        <legend class="text-gray-900 font-medium text-[16px]">Tovar kategoriyasi va brendi</legend>

        <div class="grid grid-cols-4 gap-5">
          <searchable-multiselect
            label="Asosiy kategoriya"
            optionTextKey="nameUz"
            optionValueKey="_id"
            selectBoxPlaceholder="Kategoriyani tanlang"
            classes="fuse-mat-dense fuse-mat-no-header w-full"
            [options]="categories.main"
            [multiple]="false"
            [defaultValue]="productForm.get('details.mainCategoryId').value"
            (selectionChangeEvent)="selectCategory('main', $event)"
            [required]="true"
            errorMessage="Majburiy maydon"
            [showErrorMessage]="!!productForm.get('details.mainCategoryId').errors"
            [disabled]="productForm.disabled"
          />

          <searchable-multiselect
            label="Ichki kategoriya"
            optionTextKey="nameUz"
            optionValueKey="_id"
            selectBoxPlaceholder="Kategoriyani tanlang"
            classes="fuse-mat-dense w-full"
            [options]="categories.middle"
            [multiple]="false"
            [defaultValue]="productForm.get('details.middleCategoryId').value"
            (selectionChangeEvent)="selectCategory('middle', $event)"
            [required]="true"
            errorMessage="Majburiy maydon"
            [showErrorMessage]="!!productForm.get('details.middleCategoryId').errors"
            [disabled]="productForm.disabled"
          />

          <searchable-multiselect
            label="Kategoriya"
            optionTextKey="nameUz"
            optionValueKey="_id"
            selectBoxPlaceholder="Kategoriyani tanlang"
            classes="fuse-mat-dense w-full"
            [options]="categories.sub"
            [multiple]="false"
            [defaultValue]="productForm.get('categoryId').value"
            (selectionChangeEvent)="selectCategory('sub', $event)"
            [required]="true"
            errorMessage="Majburiy maydon"
            [showErrorMessage]="!!productForm.get('categoryId').errors"
            [disabled]="productForm.disabled"
          />

          <searchable-multiselect
            label="Brend"
            optionTextKey="nameUz"
            optionValueKey="_id"
            selectBoxPlaceholder="Brendni tanlang"
            classes="fuse-mat-dense w-full"
            [options]="brands"
            [multiple]="false"
            [defaultValue]="productForm.get('brandId').value"
            (selectionChangeEvent)="productForm.get('brandId').setValue($event)"
            [required]="true"
            errorMessage="Majburiy maydon"
            [showErrorMessage]="!!productForm.get('brandId').errors"
            [disabled]="productForm.disabled"
          />
        </div>
      </fieldset>

      <fieldset class="border px-3 pb-1 pt-2 rounded-lg bg-slate-50">
        <legend class="text-gray-900 font-medium text-[16px]">Tovar nomi</legend>

        <div class="grid grid-cols-3 gap-5">
          <mat-form-field class="fuse-mat-dense" floatLabel="always">
            <mat-label>O'zbekcha</mat-label>
            <input formControlName="nameUz" matInput type="text" placeholder="O'zbekcha nomi">
            <mat-error>Majburiy maydon</mat-error>
          </mat-form-field>
          <mat-form-field class="fuse-mat-dense" floatLabel="always">
            <mat-label>Ruscha</mat-label>
            <input formControlName="nameRu" matInput type="text" placeholder="Ruscha nomi">
            <mat-error>Majburiy maydon</mat-error>
          </mat-form-field>
          <mat-form-field class="fuse-mat-dense" floatLabel="always">
            <mat-label>Inglizcha</mat-label>
            <input formControlName="nameEn" matInput type="text" placeholder="Inglizcha nomi">
            <mat-error>Majburiy maydon</mat-error>
          </mat-form-field>
        </div>
      </fieldset>

      <fieldset class="border px-3 pb-1 pt-2 rounded-lg bg-slate-50">
        <legend class="text-gray-900 font-medium text-[16px]">Tovar tavsifi</legend>

        <div class="flex flex-col">
          <mat-form-field class="fuse-mat-dense" floatLabel="always">
            <mat-label>O'zbekcha</mat-label>
            <textarea class="min-h-60" formControlName="descriptionUz" matInput type="text" placeholder="O'zbekcha tavsifi"></textarea>
            <mat-error>Majburiy maydon</mat-error>
          </mat-form-field>
          <mat-form-field class="fuse-mat-dense" floatLabel="always">
            <mat-label>Ruscha</mat-label>
            <textarea class="min-h-60" formControlName="descriptionRu" matInput type="text" placeholder="Ruscha tavsifi"></textarea>
            <mat-error>Majburiy maydon</mat-error>
          </mat-form-field>
          <mat-form-field class="fuse-mat-dense" floatLabel="always">
            <mat-label>Inglizcha</mat-label>
            <textarea class="min-h-60" formControlName="descriptionEn" matInput type="text" placeholder="Inglizcha tavsifi"></textarea>
            <mat-error>Majburiy maydon</mat-error>
          </mat-form-field>
        </div>
      </fieldset>

      <fieldset class="border px-3 pb-1 pt-2 rounded-lg bg-slate-50">
        <legend class="text-gray-900 font-medium text-[16px]">Tovar narxi va miqdori</legend>

        <div class="grid grid-cols-3 gap-5">
          <mat-form-field class="fuse-mat-dense" floatLabel="always">
            <mat-label>Hozirgi narxi</mat-label>
            <input
              [mask]="'separator'"
              [thousandSeparator]="' '"
              formControlName="currentPrice"
              matInput
              type="text"
              placeholder="Hozirgi narxi"
            >
            <span matSuffix>USD</span>
            <mat-error>Majburiy maydon</mat-error>
          </mat-form-field>
          <mat-form-field class="fuse-mat-dense" floatLabel="always">
            <mat-label>Eski narxi (ixtiyoriy maydon)</mat-label>
            <input
              [mask]="'separator'"
              [thousandSeparator]="' '"
              [validation]="false"
              formControlName="oldPrice"
              matInput type="text"
              placeholder="Eski narxi"
            >
            <span matSuffix>USD</span>
          </mat-form-field>
          <mat-form-field class="fuse-mat-dense" floatLabel="always">
            <mat-label>Sotuvda mavjudligi</mat-label>

            <mat-select formControlName="availability">
              <mat-option [value]="'on_demand'">Buyurtmaga ko'ra</mat-option>
              <mat-option [value]="'in_stock'">Sotuvda bor</mat-option>
              <mat-option [value]="'out_of_stock'">Sotuvda yo'q</mat-option>
            </mat-select>

            <mat-error>Majburiy maydon</mat-error>
          </mat-form-field>
        </div>
      </fieldset>

      <fieldset class="border px-3 py-2 rounded-lg bg-slate-50">
        <legend class="text-gray-900 font-medium text-[16px]">Tovar rasmlari (700 x 700 o'lchamli rasmlarni yuklang)</legend>
        <div class="flex items-center gap-3">
          <file-upload
            (onFilesUpload)="onFilesUpload($event)"
          />

          <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-128" floatLabel="always">
            <input
              formControlName="link"
              matInput
              type="text"
              placeholder="Tovar rasmi uchun havola"
            >
            <mat-icon matSuffix class="icon-size-5" svgIcon="heroicons_solid:link"></mat-icon>
          </mat-form-field>
        </div>

        <file-list
          classes="grid grid-cols-10 gap-3 mt-3"
          [files]="productForm.get('images').value"
          (filesChange)="productForm.get('images').setValue($event)"
          [viewType]="'grid'"
        />
      </fieldset>

      <fieldset class="border px-3 py-2 rounded-lg bg-slate-50">
        <legend class="text-gray-900 font-medium text-[16px]">Tovar xususiyatlari</legend>

        <div formArrayName="attributes">
          @for (attribute of attributes().controls; track attribute; let i = $index; let lastItem = $last) {
            <div class="grid grid-cols-3 gap-5 relative" [formGroupName]="i">
              <div class="flex flex-col gap-2">
                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript" floatLabel="always">
                  <mat-label>O'zbekcha</mat-label>
                  <input matInput type="text" formControlName="nameUz" placeholder="Xususiyat nomi">
                </mat-form-field>
                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript" floatLabel="always">
                  <input matInput type="text" formControlName="valueUz" placeholder="Xususiyat qiymati">
                </mat-form-field>
              </div>
              <div class="flex flex-col gap-2">
                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript" floatLabel="always">
                  <mat-label>Ruscha</mat-label>
                  <input matInput type="text" formControlName="nameRu" placeholder="Xususiyat nomi">
                </mat-form-field>
                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript" floatLabel="always">
                  <input matInput type="text" formControlName="valueRu" placeholder="Xususiyat qiymati">
                </mat-form-field>
              </div>
              <div class="flex flex-col gap-2">
                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript" floatLabel="always">
                  <mat-label>Inglizcha</mat-label>
                  <input matInput type="text" formControlName="nameEn" placeholder="Xususiyat nomi">
                </mat-form-field>
                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript" floatLabel="always">
                  <input matInput type="text" formControlName="valueEn" placeholder="Xususiyat qiymati">
                </mat-form-field>
              </div>

              @if (i !== 0) {
                <button type="button" (click)="deleteAttribute(i)" mat-icon-button
                        class="absolute top-0 right-0 bg-red-50"
                        color="warn">
                  <mat-icon class="icon-size-5" svgIcon="heroicons_outline:trash"/>
                </button>
              }
            </div>
            @if (!lastItem) {
              <div class="border-t mt-5 mb-4"></div>
            }
          }
        </div>

        <div class="flex gap-3 justify-end pt-5">
          <button type="button" (click)="fillAttributesFromBuffer()" mat-icon-button class="bg-red-50" color="warn">
            <mat-icon svgIcon="heroicons_outline:clipboard-document-check"/>
          </button>

          <button type="button" (click)="addNewAttribute()" mat-icon-button class="bg-primary-50" color="primary">
            <mat-icon svgIcon="heroicons_outline:plus-circle"/>
          </button>
        </div>
      </fieldset>

      <fieldset class="border px-3 py-2 rounded-lg bg-slate-50">
        <legend class="text-gray-900 font-medium text-[16px]">SEO uchun kalit so'zlar</legend>

        <mat-form-field class="fuse-mat-dense w-full" floatLabel="always">
          <mat-label>Kalit so'zlarni vergul bilan ajratib yozing</mat-label>
          <textarea class="min-h-60" matInput formControlName="keywords" placeholder="Kalit so'zlar"></textarea>
        </mat-form-field>
      </fieldset>
    </form>
  </div>


  <div class="col-span-3 flex justify-end gap-4">
    <button mat-stroked-button mat-dialog-close color="warn">
      <mat-icon svgIcon="heroicons_outline:x-circle"/>
      <span class="ml-2">Bekor qilish</span>
    </button>
    <button
      (click)="createProduct()" mat-flat-button color="primary"
      [disabled]="productForm.invalid || productForm.disabled"
    >
      <mat-icon svgIcon="heroicons_solid:check-circle"/>
      <span class="ml-2">Saqlash</span>
    </button>
  </div>
</div>
