/* gilroy-300 */
@font-face {
  font-display: swap;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/gilroy_300.woff2') format('woff2');
}
/* gilroy-regular */
@font-face {
  font-display: swap;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/gilroy_400.woff2') format('woff2');
}
/* gilroy-500 */
@font-face {
  font-display: swap;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/gilroy_500.woff2') format('woff2');
}
/* gilroy-600 */
@font-face {
  font-display: swap;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/gilroy_600.woff2') format('woff2');
}
