h1, h2, h3, h4 {
  font-family: "Gilroy", sans-serif !important;
  margin-bottom: 0 !important;
}

.mat-drawer-content {
  display: flex !important;
}

@for $i from 12 through 32 {
  .icon-size-#{$i}.mat-icon {
    width: #{$i}px;
    height: #{$i}px;
  }
}

.mat-mdc-select-trigger {
  height: 2.25rem;
  padding: 0 0.875rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  color: #101828;
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
}

.outlined-select {
  .mat-mdc-select-trigger {
    border: 1px solid #E4E7EC;
  }

  &.departments .mat-mdc-select-trigger {
    width: 20rem;
    height: 3rem;
  }
}

.solid-select {
  .mat-mdc-select-trigger {
    background-color: #F2F4F7;
  }

  &.root-objectives-select .mat-mdc-select-trigger {
    height: 2.5rem;
  }
}

.mat-mdc-select-arrow-wrapper {
  width: 0.75rem;
  margin-left: 0.5rem;
  background-image: url("/assets/icons/arrow-top.svg");
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

.mat-mdc-select-arrow {
  display: none;
}

.mat-mdc-option {
  font-family: "Gilroy", Arial, sans-serif !important;
  font-size: 0.875rem !important;

  &.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
    background-color: #F2F4F7 !important;
  }

  &:focus.mdc-list-item {
    background-color: transparent !important;
  }

  &.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
    color: #101828 !important;
  }

  .mdc-list-item__primary-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
  }
}

div.mat-mdc-select-panel {
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for Firefox */
  * {
    scrollbar-width: none;
  }

  box-shadow: 0 0.25rem 1.5rem 0 rgba(51, 51, 51, 0.12) !important;
}

.mat-mdc-dialog-container .mat-mdc-dialog-content {
  padding: 24px !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 16px !important;
}

input.mat-mdc-chip-input {
  margin-left: 0 !important;
}

.mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: currentColor !important;
}

.dark {
  .mat-mdc-option.mdc-list-item {
    color: white;
  }

  .mat-mdc-option:hover:not(.mdc-list-item--disabled),
  .mat-mdc-option.mat-mdc-option-active.mdc-list-item,
  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
    background-color: #1C2736 !important;
  }

  div.mat-mdc-select-panel, .solid-select .mat-mdc-select-trigger {
    background-color: #4D5669;
  }

  .outlined-select .mat-mdc-select-trigger {
    border-color: #4D5669;
  }

  .mat-mdc-select-placeholder {
    color: #e4e7ec;
  }

  .mat-mdc-select-trigger {
    color: white;
  }

  .mat-calendar {
    background-color: #4D5669; /* Dark background for the calendar */
    color: #e0e0e0; /* Light text color */
  }

  .mat-calendar .mat-calendar-header {
    background-color: #1C2736;
  }

  .mat-calendar .mat-calendar-arrow {
    color: #e0e0e0;
  }

  .mat-calendar .mat-calendar-body-cell {
    background-color: #4D5669;
    color: #e0e0e0;
  }

  .mat-calendar .mat-calendar-body-cell:hover {
    background-color: transparent;
  }

  .mat-calendar .mat-calendar-body-today {
    background-color: transparent !important;
    border: 1px solid #1C2736;
  }

  .mat-calendar .mat-calendar-body-selected {
    background-color: #1C2736 !important;
  }

  .mat-calendar-body-cell-content,
  .mat-calendar-table-header th,
  .mat-calendar-body-label,
  .mat-mdc-button:not(:disabled),
  .mat-calendar-previous-button::after,
  .mat-calendar-next-button::after {
    color: white;
  }

  .mat-calendar-arrow {
    fill: white;
  }

  .mat-mdc-select-arrow-wrapper {
    background-image: url(/assets/icons/arrow-top-dark.svg);
  }

  .mat-mdc-option {
    &.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
      color: white !important;
    }
  }
}

@media (hover: hover) {
  .dark .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    background-color: #1C2736;
  }
}
