@import "@angular/material/prebuilt-themes/indigo-pink.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "fonts";
@import "general";
@import "scrollbar";
@import "theme";

html, body {
  height: 100%;
  margin: 0;
  font-size: 16px;
}

* {
  font-family: "Gilroy", sans-serif !important;
}

.mat-typography p {
  margin: 0 0 0;
}

.ql-editor {
  padding: 0;
}

.ql-editor.ql-blank::before {
  font-style: normal;
}

.dark {
  .ql-editor.ql-blank::before {
    color: #e4e7ec;
  }

  .apexcharts-legend-text {
    color: white !important;
  }

  .apexcharts-text.apexcharts-yaxis-label, .apexcharts-text.apexcharts-xaxis-label {
    fill: white;
  }
}
.objective-title {
  .ql-editor.ql-blank::before {
    left: 0;
  }
}
