<div
  class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden"
>
  <!-- Header -->
  <div
    class="flex flex-col px-6 py-8 gap-4"
  >
    <div class="flex items-center justify-between">
      <div class="text-4xl font-extrabold tracking-tight">Bannerlar</div>

      <button
        mat-flat-button
        [color]="'primary'"
        (click)="openAddBannerDialog()"
      >
        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
        <span class="ml-2 mr-1">Yangi banner</span>
      </button>
    </div>
  </div>

  <!-- Main -->
  <div class="flex flex-auto overflow-hidden">
    <!-- Products list -->
    <div
      class="flex flex-auto flex-col overflow-hidden sm:mb-18 sm:overflow-y-auto"
    >
      @if (banners.length > 0) {
        <table class="w-full border-collapse border border-gray-300">
          <!-- Header -->
          <thead
            class="bg-gray-50 text-secondary sticky top-0 z-10 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5">
          <tr>
            <th class="px-6 py-4 border">Rasmlar</th>
            <th class="px-6 py-4 border">Banner sarlavhasi</th>
            <th class="px-6 py-4 border">Banner matni</th>
            <th class="px-6 py-4 border">Aktiv</th>
            <th class="px-6 py-4 border">Harakatlar</th>
          </tr>
          </thead>
          <tbody>
            @for (item of banners; track item) {
              <tr class="hover:bg-slate-50 cursor-pointer" (click)="openDetails(item)">
                <!-- Image -->
                <td class="border px-6 py-3">
                  <div class="flex items-center gap-1">
                    @for (image of item.images; track image) {
                      <div class="relative flex h-12 w-12 overflow-hidden rounded border shrink-0">
                        <img class="object-contain object-center" [alt]="'Product thumbnail image'"
                             [src]="host + image.path"/>
                      </div>
                    }
                  </div>
                </td>

                <!-- Name -->
                <td class="border px-6 py-3">{{ item.titleUz }}</td>
                <td class="border px-6 py-3">{{ item.textUz }}</td>

                <!-- Status Toggle -->
                <td class="border px-6 py-3 hidden lg:table-cell" (click)="$event.stopPropagation()">
                  <mat-slide-toggle color="primary" [checked]="item.status === 1"
                                    (change)="itemStatusChange($event, item)"></mat-slide-toggle>
                </td>

                <!-- Actions -->
                <td class="border px-6 py-3">
                  <button class="h-7 min-h-7 min-w-10 px-2 leading-6" mat-stroked-button color="warn"
                          (click)="$event.stopPropagation(); deleteItem(item._id)">
                    <mat-icon class="icon-size-4" svgIcon="heroicons_outline:trash"></mat-icon>
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      }
    </div>
  </div>
</div>
